<?php Block::put('breadcrumb') ?>
    <ul>
        <li><a href="<?= Backend::url('custom/survey/surveyshows') ?>">Surveyshows</a></li>
        <li><?= e($this->pageTitle) ?></li>
    </ul>
    
   
<?php Block::endPut() ?>



<div class="layout-row">
    User Name : <?= $data->user_login ?>
    <br>
    <br>
    Survey Title : <?= $data->survey_name ?><br>
    <br>
    Status : Success/Fail
    
    <br>
    <br>
    
    Question<br>
    <h3><?php foreach($survey as $surveys) {  ?><br>
    
      <?php echo $surveys['Question'] ?>
      
    <?php } ?><br></h3><br>
    <br>
    
    
    Answers<br>
    <?php foreach( json_decode ($data['survey_data']) as   $key => $datas) {  ?>
     <?php if($key != "user_id" && $key != "user_login" && $key != "survey_id" && $key != "survey_name") { ?><br>
         <?php print_r($datas); ?>
     <?php } ?>

    <?php } ?>


     
</div>
<br>
<br>

<div class="form-buttons">
    <div class="loading-indicator-container">
        
        
        <button
            type="button"
            class="oc-icon-trash-o btn-icon danger pull-right"
            data-request="onDelete"
            data-load-indicator="Deleting Surveyshow..."
            data-request-confirm="Delete this surveyshow?">
        </button>
        <span class="btn-text">
            <a href="<?= Backend::url('custom/survey/surveyshows') ?>">Okay</a>
        </span>
    </div>
</div>

