<div data-control="toolbar">
    <a
        href="<?= Backend::url('custom/agents/agents/create') ?>"
        class="btn btn-primary oc-icon-plus">
        New Agent
    </a>

    <button
        class="btn btn-danger oc-icon-trash-o"
        disabled="disabled"
        onclick="$(this).data('request-data', { checked: $('.control-list').listWidget('getChecked') })"
        data-request="onDelete"
        data-request-confirm="Are you sure you want to delete the selected Agents?"
        data-trigger-action="enable"
        data-trigger=".control-list input[type=checkbox]"
        data-trigger-condition="checked"
        data-request-success="$(this).prop('disabled', 'disabled')"
        data-stripe-load-indicator>
        Delete selected
    </button>



    <button
    class="btn btn-success oc-icon-tachometer"
    disabled="disabled"
    onclick="$(this).data('request-data', { checked: $('.control-list').listWidget('getChecked') })"
    data-attach-loading
    title="Approve"
    data-request="onPayment"
    data-trigger=".control-list input[type=checkbox]"
    data-trigger-condition="checked"
    data-request-confirm="Do you Want to Approve"
    data-trigger-action="enable"
    data-request-success="$(this).prop('disabled', 'disabled')"
    data-stripe-load-indicator>
       Send the Payment 
   </button>



    

    
   
</div>
