

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<style>

  .section
  {
    padding-top: 30px;
    padding-bottom: 20px;
  }
</style>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="profile-header-container">
        <div class="profile-header-img">
          <img class="rounded-circle" src="/storage/{{ $user->profile_image }}" />


          <form data-request="onUpload" data-request-files>
            <label for="Avatar Image Upload"></label>
            <br />
            <input type="file" class="form-control" name="profile_image"/>
            <br /><br />
            <button type="submit" class="btn btn-primary btn-lg">Upload</button>
          </form>
        </div>

        
    </div>
     


     <div class="section">
 
      <div class="container">
        <h2>Services</h2>
        <div class="control-balloon-selector">
          <ul>
              <li>Monday</li>
              <li>Tuesday</li>
              <li>Happy days!</li>
          </ul>
        </div>
      </div>  
    
    
    </div>
 
    <div class="section">
      <div class="container">
        <h3>Status</h3>
        <label class="custom-switch">
          <input type="checkbox"/>
          <span data-toggle="onStatus"><span>Off</span><span>On</span></span>
          <a class="slide-button"></a>
      </label>
      </div>
    </div>

    <div class="section">
      <h4><b>Currency Rates</b></h4>
        <br>
        <a href="" type="button" class="btn btn-success btn-lg " data-request="onCheckRate">Click Here to Check the Currency Rates</a>
    </div>
   
    
      

    </div>
   
      <div class="col">

        <h2>Agent Information</h2>
        <form data-request="onEdit">
          <div class="form-group text-field span-left">
            <label>First Name : </label>
            <input type="text" name="first_name" value="<?= $data->first_name ?>" class="form-control" />
          </div>
  
          <div class="form-group text-field span-left">
            <label>Last  Name : </label>
            <input type="text" name="last_name" value="<?= $data->last_name ?>" class="form-control" />
          </div>
  
          <div class="form-group text-field span-left is-required">
            <label>Login Name : </label>
            <input type="text" name="login" value="<?= $data->login ?>" class="form-control" />
          </div>
  
          <div class="form-group text-field span-left is-required">
            <label>Email : </label>
            <input type="email" name="email" value="<?= $data->email ?>" class="form-control" />
          </div>
  
          <div class="form-group text-field span-left">
            <label>Country : </label>
            <input type="text" name="country" value="<?= $data->country ?>" class="form-control" />
          </div>
  
          <div class="form-group text-field span-left">
            <label>City : </label>
            <input type="text" name="city" value="<?= $data->city ?>" class="form-control" />
          </div>
  
          <div class="form-group text-field span-left">
            <label>Bio : </label>
            <input type="text" name="bio" value="<?= $data->bio ?>" class="form-control" />
          </div>

          <div class="form-group text-field span-left">
            <label>Description : </label>
            <input type="text" name="bio" value="<?= $data->bio ?>" class="form-control" />
          </div>

          <div class="form-group text-field span-left is-required">
            <label>Company : </label>
            <input type="text" name="company" value="<?= $data->agent_company ?>" class="form-control" />
            <br>
            <br>
           
            <button type="submit" class="btn btn-default btn-lg">Edit</button>


          </div>
            
        </form>

        <div>
        </div>
      </div>
    </div>
  </div>
</div>


<div>

  <div class="form-group text-field span-right ">
     


  </div>
  
 

<div class="section">
 
</div>

<div class="container">
  <p><a href="<?= Backend::url('custom/agents/agents') ?>" class="btn btn-default btn-lg">Return to orders list</a></p>

</div>


