<?php Block::put('breadcrumb') ?>
    <ul>
        <li><a href="<?= Backend::url('custom/agents/agents') ?>">Agents</a></li>
        <li><?= e($this->pageTitle) ?></li>
    </ul>
<?php Block::endPut() ?>

<?php if (!$this->fatalError): ?>

<!--<div class="col">-->
<!--    <div class="profile-header-container">-->
<!--      <div class="profile-header-img">-->
        


<!--        <form data-request="onUpload" data-request-files>-->
<!--          <label for="Avatar Image Upload"></label>-->
<!--          <br />-->
<!--          <input type="file" class="form-control" name="profile_image"/>-->
<!--          <br />-->
<!--          <button type="submit" class="btn btn-primary btn-lg">Upload</button>-->
<!--        </form>-->
<!--      </div>-->

      
<!--  </div>-->


    <?= Form::open(['class' => 'layout']) ?>

    <!-- <form data-request="onUpload" data-request-files>
        <h3>Image Upload</h3>
        <input type="file" class="form-control" name="profile_image"/>
        <br>
        <button type="submit" class="btn btn-primary">Upload</button>
      </form>
    </div>
    <br> -->

        <div class="layout-row">
            <?= $this->formRender() ?>

           
        </div>

        <div class="form-buttons">
            <div class="loading-indicator-container">
                <button
                    type="submit"
                    data-request="onSave"
                    data-request-data="redirect:0"
                    data-hotkey="ctrl+s, cmd+s"
                    data-load-indicator="Saving Agent..."
                    class="btn btn-primary">
                    <u>S</u>ave
                </button>
                <button
                    type="button"
                    data-request="onSave"
                    data-request-data="close:1"
                    data-hotkey="ctrl+enter, cmd+enter"
                    data-load-indicator="Saving Agent..."
                    class="btn btn-default">
                    Save and Close
                </button>
                <button
                    type="button"
                    class="oc-icon-trash-o btn-icon danger pull-right"
                    data-request="onDelete"
                    data-load-indicator="Deleting Agent..."
                    data-request-confirm="Delete this agent?">
                </button>
                <button 
                  type="button"
                  class="btn btn-warning "
                  data-load-indicator="Password Resending"
                  data-request="onPassword">
                  Reset the Password
                </button>
                <a href="/wesl/profileview/<?php echo  $formModel->id ?>/#currency"
                  type="button"
                  class="btn btn-success"
                  >
                  Check the Currency Rates
                </a>
                <a  href="/wesl/profileview/<?php echo  $formModel->id ?>/#services"
                  type="button"
                  class="btn btn-success"
                  >
                  Check the Services
                </a>
                <span class="btn-text">
                    or <a href="<?= Backend::url('custom/agents/agents') ?>">Cancel</a>
                </span>
            </div>
        </div>

    <?= Form::close() ?>

<?php else: ?>

    <p class="flash-message static error"><?= e($this->fatalError) ?></p>
    <p><a href="<?= Backend::url('custom/agents/agents') ?>" class="btn btn-default">Return to agents list</a></p>
    

<?php endif ?>
