<a data-toggle="modal" href="#content-confirmation" class="btn btn-primary btn-lg">Configure</a>



    <div class="control-popup modal fade" id="content-confirmation" tabindex="-1" role="dialog">
      
        <div class="modal-dialog">

            <div class="modal-content">
                <div style="padding-top: 1px; padding-left: 22px; margin-bottom: -19px;">
                    <h3>Configure "Question"</h3>
                </div>
               
              <div style="padding: 30px;">
             
    
                <div class="form-group span-full">
                    <label>Type Of Questions</label>
                    <select class="form-control custom-select">
                        <option selected="selected" value="">Text</option>
                        <option value="">Email</option>
                        <option value="">URL</option>
                        <option value="">Number</option>
                        <option value="">Yes/No</option>
                        <option value="">Colour Picker</option>
                        <option value="">Phone Number</option>
                        <option value="">Address</option>
                        <option value="">Country</option>
                        <option value="">Date</option>
                        <option value="">Time</option>
                        <option value="">Multiple Choice</option>
                        <option value="">Signature</option>
                        <option value="">Hidden</option>
                      
                    </select>
                </div>
    
                <div class="form-group span-full">
                    <label>Question is required</label>
                    <label class="custom-switch">
                        <input type="checkbox" />
                        <span><span>On</span><span>Off</span></span>
                        <a class="slide-button"></a>
                    </label>
                   
                </div>
                
                
                <div class="form-group span-full">
                    <label>Email</label>
                    <input type="email" class="form-control" />              
                </div>
                
                <div class="form-group span-full">
                    <label>URL</label>
                    <input type="text" class="form-control" />              
                </div>
                
                
                <div class="form-group span-full">
                    <label>Number</label>
                    <input type="number" class="form-control" />              
                </div>
                
                <div class="form-group span-full">
                    <label>Yes/No</label>
                    <input type="text" class="form-control" />              
                </div>
                
                <div class="form-group span-full">
                    <label>Colour Picker</label>
                    <input type="text" class="form-control" />              
                </div>
                
                <div class="form-group span-full">
                    <label>Phone Number</label>
                    <input type="number" class="form-control" />              
                </div>
                
                <div class="form-group span-full">
                    <label>Address</label>
                    <input type="longtext" class="form-control" />              
                </div>
                
                <div class="form-group span-full">
                    <label>Country</label>
                    <input type="text" class="form-control" />              
                </div>
                
                
                <div class="form-group span-full">
                    <label>Date</label>
                    <input type="number" class="form-control" />              
                </div>
                
                <div class="form-group span-full">
                    <label>Time</label>
                    <input type="number" class="form-control" />              
                </div>
                
                <div class="form-group span-full">
                    <label>Multiple Choice</label>
                    <input type="number" class="form-control" />              
                </div>
                
                <div class="form-group span-full">
                    <label>Signature</label>
                    <input type="number" class="form-control" />              
                </div>
                
                
                
                
                
                
                
                
                
                
                
    
    
    
                <div class="form-group span-full">
                    <label>Allow multiple lines of text</label>
                    <label class="custom-switch">
                        <input type="checkbox" />
                        <span><span>On</span><span>Off</span></span>
                        <a class="slide-button"></a>
                    </label>
                   
                </div>
    
                <div class="form-group span-full">
                    <label>How many lines of text should the question be?</label>
                    <input type="number" class="form-control" />              
                </div>
    
                <div class="form-group span-full">
                    <label>Placeholder text</label>
                    <input type="text" name="" value="" class="form-control" />
                </div>
    
                <div class="form-group span-full">
                    <label>Minimum length  of Words (characters)</label>
                  
                    <input type="number" class="form-control" />       
                </div>

                

             

                <div class="form-group span-full">
                    <label>Make question one of two columns</label>
                    <label class="custom-switch">
                        <input type="checkbox" />
                        <span><span>On</span><span>Off</span></span>
                        <a class="slide-button"></a>
                    </label>
                  
                </div>



                <div class="form-group span-full">
                    <label>Default Answer</label>
                    <input type="text" name="" value=""  class="form-control" />
                </div>




              </div>



         
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-request="modal">Save</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>
         
        </div>
    </div>
 </div>
