<form data-request="onBuyingRate" data-request-flash>
  
    <input type="hidden" name="id" value="<?= $record->id ?>">
    <div class="col-xs-3">
        <input class="form-control" type="text" name="buy_rate" value="<?= $value ?>" style="height:28px">
    </div>
    <button
            class="btn btn-primary btn-xs"
            data-attach-loading
            data-toggle="tooltip"
            title="Update the Buying Rate"
            data-delay="500"
            data-placement="right">
        Update
    </button>
</form>