<div data-control="toolbar">

<!-- 
    <?php if ($this->user->hasAccess('custom.currencyrates.new_button')): ?>
    <a
      href="<?= Backend::url('custom/currency/currencyrates/create') ?>"
      class="btn btn-primary oc-icon-plus">
       New Currency Rate
    </a>
    <?php endif ?> -->

    <?php if ($this->user->hasAccess('custom.currencyrates.delete_button')): ?>
    <button
        class="btn btn-danger oc-icon-trash-o"
        disabled="disabled"
        onclick="$(this).data('request-data', { checked: $('.control-list').listWidget('getChecked') })"
        data-request="onDelete"
        data-request-confirm="Are you sure you want to delete the selected Currencyrates?"
        data-trigger-action="enable"
        data-trigger=".control-list input[type=checkbox]"
        data-trigger-condition="checked"
        data-request-success="$(this).prop('disabled', 'disabled')"
        data-stripe-load-indicator>
        Delete selected
    </button>
    <?php endif ?>
    
      <h4>Please select the base currency first</h4>
<!--      
    <select class="form-control custom-select" data-request="onGetCurrency" data-handler="onSelect">
        <option value="">Please Select the Currency base </option>
        
       
    </select> -->


</div>
