
<style>
  input:disabled {
    background: #dddddd;
  }
</style>
<div class="report-widget">
    <h3><?= e($this->property('title')) ?></h3>

    <?php if (!isset($error)): ?>
    <?= Form::open(['class' => 'layout']) ?>
    <form > 
      <div class="form-group text-field span-left">
        <label>First Name : </label>
        <input type="text" name="fname" value="<?php echo $agentdetail['fname'];?>" class="form-control" />
      </div>
      <div class="form-group text-field span-left">
        <label>Last Name : </label>
        <input type="text" name="lname" value="<?php echo $agentdetail['lname'];?>" class="form-control" />
      </div>
  
      <div class="form-group text-field span-left">
        <label >Login Name : </label>
        <input  type="text" name="login"  value="<?php echo $agentdetail['login'];?>" class="form-control" Disabled />
      </div>
  
      <div class="form-group text-field span-left">
        <label>Email : </label>
        <input type="text" name="email" value="<?php echo $agentdetail['email'];?>" class="form-control" />
      </div>
  
      <div class="form-group text-field span-left ">
        <label>Country : </label>
        <input type="text" name="country" value="<?php echo $agentdetail['country'];?>" class="form-control" />
      </div>
  
      <div class="form-group text-field span-left ">
        <label>City : </label>
        <input type="text" name="city" value="<?php echo $agentdetail['city'];?>" class="form-control" />
      </div>
  
      <div class="form-group text-field span-left ">
        <label>Company : </label>
        <input type="text" name="company" value="<?php echo $agentdetail['company'];?>" class="form-control" />
  
        <br>
        <br>
        <button class="btn btn-default" type="submit" data-request="agentdetails::onSend">Edit</button>
        <?= Form::close() ?>
    
   
    <?php else: ?>
        <p class="flash-message static warning"><?= e($error) ?></p>
    <?php endif ?>
    


</div>
