<div id="agent_list">

{% for agent in agents %}

      <div class="col-md-6"> 

        <div class="agent agents-profile agency"> <a href="profileview/{{agent.agent.id}}" class="utf-agent-avatar"> 
      
          {% if agent.agent_user.avatar.path %}

            <img src="{{agent.agent_user.avatar.path}}" alt="">
          
          {% else %} 
          
            <img src="{{'assets/img/avaterplaceholder.jpg' |theme}}" alt="">
           
          {% endif %} 
         </a>
          <div class="utf-agent-content">
            <div class="utf-agent-name">
			  <p class="text-alt">Agent</p>
              <h4><a href="profileview/{{agent.agent.id}}">{{ agent.agent.first_name }} {{ agent.agent.last_name }} </a></h4>
              <ul class="utf-agent-contact-details">
			      <li><i class="icon-material-outline-business"></i>{{ agent.country.name }}</li>
			      <li><i class="icon-material-outline-business"></i>{{ agent.city.name }}</li>
          <li><i class="icon-feather-smartphone"></i>{{ agent.agent.agent_contact }}</li>
          
          <li><i class="icon-material-outline-email"></i><a href="#">{{ agent.agent.email }}</a></li>

          
         
          
        </ul> 
        Services
        <br>
           {% for currency in agent.currencies %}
           
            {{currency.currency_name}}
           
           {% endfor %}
     
       
			  <ul class="utf-social-icons">
				  <li><a class="facebook" href="#"><i class="icon-facebook"></i></a></li>
				  <li><a class="twitter" href="#"><i class="icon-twitter"></i></a></li>
				  <li><a class="linkedin" href="#"><i class="icon-linkedin"></i></a></li>
				  <li><a class="instagram" href="#"><i class="icon-instagram"></i></a></li>
				  <li><a class="gplus" href="#"><i class="icon-gplus"></i></a></li>
			  </ul>
			</div>
			<div class="clearfix"></div>
            <p>{{agent.agent.bio}}</p>                      
          </div>
        </div>
     

       
    </div>	
    {% endfor %}
</div>
     <!-- <div class="col-md-12">
        <div class="clearfix"></div>
         Pagination --> 
        <!-- <div class="utf-pagination-container margin-top-20">
          <nav class="pagination">
            <ul>
              <li><a href="#"><i class="fa fa-angle-left"></i></a></li>
			  <li><a href="#" class="current-page">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li class="blank">...</li>
              <li><a href="#">10</a></li>
			  <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
            </ul>
          </nav>
        </div> -->
        <!-- Pagination / End --> 
      <!-- </div> -->