{% if permission == 1 %}
   <span style="color:green;">
        <em>You have already Rated this agent</em>
    </span>

{% else %}
<div class="" id="rating">
    <p>Please Rate Us!</p>
</div>   
{% endif %}
