<!-- TODO: Pagination -->
<div class="col-lg-12 col-md-12 col-xs-12">
    {% for rating in ratings %}

    <div class="containerCard">
        <p><span>{{rating.agentName['First_name']}} {{rating.agentName['Last_name']}}</span>{{rating.rating}}
            <span class="fa fa-star checked"></span>
        <p>
            {{rating.comment}}
        </p>
        </div>
    {% endfor %}
</div>
