 <div class="container">
    <div class="row margin-bottom-50">
      <div class="col-md-12"> 
        <!-- Slider -->
        <div class="property-slider default">
            <a href="#" data-background-image="{{ 'assets/images/source (1).jpg' | theme}}" class="item mfp-gallery"></a> 
			<a href="#" data-background-image="{{ 'assets/images/source (1).jpg' | theme}}" class="item mfp-gallery"></a> 
			<a href="#" data-background-image="{{ 'assets/images/download.jpg' | theme}}" class="item mfp-gallery"></a> 
			<a href="#" data-background-image="{{ 'assets/images/cryptocurrency_trader_mobile_app_mockup_071703.jpg' | theme}}" class="item mfp-gallery"></a> 
			<a href="#" data-background-image="{{ 'assets/images/images.jpg' | theme}}" class="item mfp-gallery"></a> 
			<a href="#" data-background-image="{{ 'assets/images/source (2).jpg' | theme}}" class="item mfp-gallery"></a> 
			<a href="#" data-background-image="{{ 'assets/images/source.jpg' | theme}}" class="item mfp-gallery"></a> 
		</div>
        <!-- Slider Thumbs -->
        <div class="property-slider-nav">
          <!--<div class="item"><img src="{{ 'assets/img/banner.jpg' | theme}}" alt=""></div>-->
          <!--<div class="item"><img src="{{ 'assets/img/banner.jpg' | theme}}" alt=""></div>-->
          <!--<div class="item"><img src="{{ 'assets/img/banner.jpg' | theme}}" alt=""></div>-->
          <!--<div class="item"><img src="{{ 'assets/img/banner.jpg' | theme}}" alt=""></div>-->
          <!--<div class="item"><img src="{{ 'assets/img/banner.jpg' | theme}}" alt=""></div>-->
          <!--<div class="item"><img src="{{ 'assets/img/banner.jpg' | theme}}" alt=""></div>-->
        </div>
      </div>
    </div>
  </div>
