<div class="utf-main-search-box-area"> 


{{ form_ajax('onSearch') }}
   
           <div class="row with-forms"> 
      <!--<div class="col-md-4 col-sm-12">-->
      <!--    <input type="text" class="ico-01" placeholder="Enter Keywords..." value=""/>-->
      <!--</div>-->

      <div class="col-md-5 col-sm-12">
        <select data-placeholder="Select From" title="Select From Currency" class="utf-chosen-select-single-item" name="from">
          <option>From</option>
          {% for currency in currency %}
            <option value="{{currency.id}}">{{currency.currency_name}}</option>
          {% endfor %}                       
        </select>
      </div>
      <div class="col-md-5 col-sm-12">
        <select data-placeholder="Select To" title="Select To Currency" class="utf-chosen-select-single-item" name="to">
          <option >To</option>
          {% for currency in currency %}
            <option value="{{currency.id}}">{{currency.currency_name}}</option>
          {% endfor %}                      
        </select>
      </div>
      <div class="col-md-2 col-sm-6">
          <button  type="submit" class="button utf-search-btn-item"><i class="fa fa-search"></i> Search</button>	
      </div>
   
    </div>
  {{ form_close() }}

                      
    
</div>                  