body, html {
    height: 100%;
    margin: 0;
  }
  
  .bgimg {
    background-image: url('/w3images/forestbridge.jpg');
    height: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    color: white;
    font-family: "Courier New", Courier, monospace;
    font-size: 25px;
  }
  
  .topleft {
    position: absolute;
    top: 0;
    left: 16px;
  }
  
  .bottomleft {
    position: absolute;
    bottom: 0;
    left: 16px;
  }
  
  .middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  hr {
    margin: auto;
    width: 40%;
  }

  .fa {
    font-size: 25px !important;
  }

  .checked {
    color: orange !important;
  }

  .userpanel
  {
      padding-top: 38px;

  }
  /* AdPlayer */
  .hide{
    visibility: hidden;
  }
  
#media-player {
	float:left;
	padding:1em 1em .5em;
	background-color:#fff;
}

video {
	/* border:1px solid #333; */
	width:100%;
	/* height:100%; */
	background:#fff;
}
.media-wrapper{
	background-color: #fff;
	width:100%;
	height:250px;
}
.media-wrapper-solo{
	background-color: #fff;
	width:100%;
	height:250px;
}
#proceed {
  padding-top: 5px;
  background-color: #ef9231;
  border: 1px solid #ef9231;
	color:#fff;
  float: right;
  margin-right: 15px;
  font-size: 15px;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
}
.ad {
  position: absolute;
  text-indent:3px;
  font-size: 30px;
	width:16px;
	height:16px;
	border:none;
  cursor:pointer;
  z-index: 1;
	/* background:transparent url('../images/play.png') no-repeat 0 0; */
}
.mute {
  position: absolute;
  text-indent:25px;
  font-size: 30px;
	width:16px;
	height:16px;
	border:none;
	cursor:pointer;
	/* background:transparent url('../images/play.png') no-repeat 0 0; */
}
.lock{
	width:307px;
	height:200px;
	
}

#overlay{
	position:absolute;
	display: none;
	float:left;
		width:100%;
		min-height:250px;
		background-color:#000;
		opacity: 0.8;
		z-index:300000;
}
#textFail{
  position: absolute;
  display: none;  
  top: 50%;
  left: 50%;
  font-size: 14px;
  text-align: center;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}
#textSuccess{
  position: absolute;
  display: none;  
  top: 50%;
  left: 50%;
  font-size: 14px;
  text-align: center;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}
/* end of Ad player */

/* Rating */
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

fieldset, label { margin: 0; padding: 0; }
body{ margin: 20px; }
h1 { font-size: 1.5em; margin: 10px; }

/****** Style Star Rating Widget *****/

.rating { 
  border: none;
  float: left;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  color: #ddd; 
 float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 

  .progress {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 1rem;
    overflow: hidden;
    font-size: .75rem;
    background-color: #e9ecef;
    border-radius: .25rem;
    border: 1px solid #33333336;
}
  .progress-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    background-color: #ef9231;
    transition: width .6s ease;
    
}

  ul#menu li {
  display:inline;
}

/* end of rating */
/* Testimonials */
/* Style the container with a rounded border, grey background and some padding and margin */
.containerCard{
  border: 2px solid #ccc;
  background-color: #eee;
  border-radius: 5px;
  padding: 16px;
  margin: 16px 0;
}

/* Clear floats after containers */
.containerCard::after {
  content: "";
  clear: both;
  display: table;
}


/* Increase the font-size of a span element */
.containerCard span {
  font-size: 20px;
  margin-right: 15px;
}
/* End of Testimonials */

.alert{
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

/*Home page*/
.utf-smt-listing-img-container{
    height: auto !important;
}


/* Mobile View */
  @media (max-width: 992px){
    /* CurrencyTable in agentProfile */
    #utf-compare-list {
        min-width: inherit !important;
        zoom: 0.8;
    }
    #calc{
      margin-top: 5px;
    }
    .button{
      margin-left: 25%;
    }
    }
/* DesktopView */
  @media (min-width:1025px) {
    #calcButton{
      margin: 20px 0;
    }
    .media-wrapper-solo{
      height: 100%;
    }
  }