<div id="services">
    <div class="col-md-8">
        <ul class="utf-agent-contact-details">
      
          {% for service in services %}
            <li><i class="badge badge-primary"></i><a href="#">{{ service.service_name}}</a></li>
          {% endfor %}
        </ul>
      </div>


</div>