<div id="service">
                {% for s in service %}
            <div class="agent agents-profile agency"> <a href="serviceview/{{s.id}}" class="utf-agent-avatar"> <img src="{{s.service_image.path}}" alt=""> </a>
              <div class="utf-agent-content">
                <div class="utf-agent-name">
            
                  <h4><a href="serviceview/{{s.id}}">{{s.service_name}}</a></h4>
               
                </div>
                <div class="clearfix"></div>
                <p>{{s.service_descripiton}}</p>    
                
              </div>
            </div>
      	
   
            {% endfor %}
          </div>    
    
</div>