<!-- <?php if ($this->previewMode): ?>

    <div class="form-control">
        <?= $value ?>
    </div>

<?php else: ?>

    <input
        type="text"
        id="<?= $this->getId('input') ?>"
        name="<?= $name ?>"
        value="<?= $value ?>"
        class="form-control"
        autocomplete="off" />

<?php endif ?> -->

 


<a data-toggle="modal" href="#content-confirmation" class="btn btn-primary btn-lg">Configure</a>

<div class="control-popup modal fade" id="content-confirmation" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <h3>Configure "Question"</h3>

            <div class="form-group span-full">
                <label>Type Of Questions</label>
                <select class="form-control custom-select">
                    <option selected="selected" value="2">Text</option>
                    <option value="3">Email</option>
                    <option value="1">URL</option>
                    <option value="1">Color Picker</option>
                    <option value="1">Number</option>
                    <option value="1">Date</option>
                    <option value="1">Time</option>
                </select>
            </div>

            <div class="form-group span-full">
                <label>Question is required</label>
                <label class="custom-switch">
                    <input type="checkbox" />
                    <span><span>On</span><span>Off</span></span>
                    <a class="slide-button"></a>
                </label>
               
            </div>


            <div class="form-group span-full">
                <label>Question visibility logic: Off</label>
                <label class="custom-switch">
                    <input type="checkbox" />
                    <span><span>On</span><span>Off</span></span>
                    <a class="slide-button"></a>
                </label>
              
            </div>

            <div class="form-group span-full">
                <label>Allow multiple lines of text</label>
               
            </div>






            
          
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Save</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
