<div class="" id="adData">
    <!--TODO: ADD total view below-->
     <!--<h5>Total Views: </h5>-->
    <table>
        <thead>

        </thead>
        <tr>
            <th>#</th>
            <th>User's Name</th>
            <th>IP</th>
            <th>Seen At</th>
        </tr>
        {% if adData==null%}
            <tr>
               <td colspan="4"> Please Select an Advertisement to Continue</td> 
            </tr>
        {% else%}
            {% for data in adData%}
            <tr>
                <td>{{ data.no }}</td>
                <td>{{ data.userName}}</td>
                <td>{{ data.ip}}</td>
                <td>{{ data.seenAt}}</td>
            </tr>
            {% endfor %}
        {% endif %}
    </table>
</div>
