<div class="" id="video">
    {% for video in videos%}
              <!-- Video -->

              <div class="col-md-3 col-lg-3 col-xs-12" style="margin-left: 15px;">

                <div class="row">
                  <!-- <i class="fas fa-ad" style="font-size: 45px;"></i> -->
                    <a href="player/{{ video.id }}" target="_blank" style="padding: 05px 05px;"> 
                      <video src=".{{ video.video_path | media}}"id="media-video"></video>
                    </a>

                    
              


                  <!-- <span>
                    <img src="https://via.placeholder.com/400x350?text=Video+Placeholder" alt="" width="100%">
                  </span> -->
                </div>
              </div>

      
      

    {% endfor %}
</div>