<div id="flash_message">
    {% flash %}
        <p data-control="flash-message" data-interval="5" class="flash-message static {{type }}">
        {{ message }}
        </p>
    {% endflash %}
</div>