

<div id="survey">
    <div class="col-md-12 col-xs-12">
    <form data-request = "onSurveyView">
        <input type="hidden" name="user_id" value="{{user.id}}">
        <input type="hidden" name="user_login" value="{{user.login}}">
        <input type="hidden" name="survey_id" value="{{id}}">
        <input type="hidden" name="survey_name" value="{{data.survey.title_name}}">

        <div class="submit-page">
            <div class="utf-submit-page-inner-box">
                <h3>{{data.survey.title_name}}</h3>
                <div class="content with-padding">  
                    {% if data.survey.survey_required %}
                    <p style="color:red; font-weight:700;">To Gain Points you must answer {{data.survey.survey_required}} Questions </p>
                    {% else %}
                      
                    {% endif %}
                   
                    {% for fieldkey, surveyfield in fields %}
                   
                    
                    <div class="col-md-12">
                        
                        <h5 name = "question">{{surveyfield['Question']}}</h5>
                        {% for key, value in formFields %}
                        {% if value != 'checkbox' %}
                    
                            {% if fieldkey == key %}
                            
                                <input name="answer{{value}}" class="search-field" type="{{value}}"  id="{{surveyfield.Answer}}" value=""/>
                            {% endif %}
                        {% endif %}    
                        {% endfor %}
                     
                      
                      {% for key, value in formFields %}
                          {% if fieldkey == key %}
                             
                          
                          {% for surveyfield in surveyfield.Answers %}
                              <input name="answer{{value}}" class="checkbox-icon" type="{{value}}"  id="2" value=""/>
                                 <label>{{surveyfield.Answers}}</label>
                              {% endfor %}   
                          {% endif %}
                      {% endfor %}
                
                    </div>
                    {% endfor %}
                    
                    <div class="col-md-12">
                        <button type="submit" class="utf-centered-button button">Submit </button>
                    </div>
                  
                </div>
                                   
                                   
            </div>
            
             
            

    
    </form>


</div>