layout = "system"
description = "Password Reset Successfully Template"
subject = "Password Reset Successfully "
==

Hello {{ name }},

<h1 style="text-align: center;">Agent Password Was Reset Successfully </h1>

<b>We have Reset the Password successfully Now you can log In to Account </b>

Account Credentials

login Details : {{ login }}
<br>
Password : {{ password }}





wesl.lk

If you have any questions or encounter about this , please contact a site administrator