{% if calcresult==1%}
<div class="col-lg-12 col-md-12 col-xs-12 alert alert-danger" id="calc" style="text-align: center;padding: 10px 25%;">
    <span class="" role="alert" >
        Selected Currency is not available from us!
    </span>
</div>


{% else %}
    <div class="col-lg-12 col-md-12 col-xs-12" id="calc" style="text-align: center;">

            <span style="font-size: larger;font-weight: 600;">
                {% for calcresult in calcresult%}
                {{ calcresult.value }} {{ calcresult.name }} 
                {% endfor%}

            </span>

    </div>
{% endif %}