<div id="currency_list">
  <div class="utf-utf-compare-list-item-area">
      <ul id="utf-compare-list">
        <li class="compare-item-list-properti">
          <div class="blank-div"></div>
                
        </li>
        <li>
          <div>Currency</div>
          <div>Buying Rate</div>
          <div>Selling Rate</div>
        </li>
        {% for currency in currencies%}
        <li>
          <div>{{currency.name}}</div>
          <div>{{currency.buy}}</div>
          <div>{{currency.sell}}</div>
        </li>
        {% endfor %}
      </ul>
  </div>
</div>
  <!-- Compare List / End -->         
