
==

<?php

 use Custom\User\Controllers\Users;
 use Custom\User\Models\User;


 public function onStart()
 {
    $id = Session::get('user_id');
    $this['user'] = User::find($id);
    if(!isset($id))
    {
       return Redirect::to("/userlogin");
    }
  
     
  
  }

  public function onLogOut()
  {

    Session::forget('user_id');
    return Redirect::to('userlogin');


  }



?>


== 

<html>
    <head>
        <meta name="author" content="">
        
        <meta name="description" content="">
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Welcome to WESL </title>
        <!--  Favicon -->
        <link rel="shortcut icon" href="{{'assets/images/favicon.png' |theme }}">
        <!-- CSS -->
        <link rel="stylesheet" href="{{'assets/css/stylesheet.css'|theme}}">
        
        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,800&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&display=swap" rel="stylesheet">  
        <!-- Font Awesome -->
        <script src="https://kit.fontawesome.com/f5acd884b0.js" crossorigin="anonymous"></script>
        <!-- AdPlayer -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <style>

        </style>


        </head>
        <body>
            <header id="header-container" class="fullwidth"> 
                <!-- Header -->
                <div id="header">
                  <div class="container"> 
                    <div class="left-side"> 
                      <div id="logo"><a href="index.html"><img src="{{'assets/img/WESL.png' |theme}}" alt=""></a></div>
                      <div class="mmenu-trigger">
                        <button class="hamburger hamburger--collapse" type="button"> <span class="hamburger-box"> <span class="hamburger-inner"></span> </span> </button>
                      </div>
                      <!-- Main Navigation -->
                      <nav id="navigation" class="style-1">
                        <ul id="responsive">
                          <li><a  href="{{'home' |page}}">Home</a></li>
                          <li><a href="{{'agentlist' |page}}">Agents</a></li>
                          <li><a href="{{url('/services')}}">Listing</a></li>
                          <li><a href="{{'video' |page}}">Videos</a></li>
                          <li><a href="{{'contact'|page}}">Contact</a></li> 
                         
                          <!-- <li><a href="#">Pages</a>
                            <ul>
                              <li><a href="#">Agents</a>
                                <ul>
                                  <li><a href="#">Agents List</a></li>
                                  <li><a href="#">Agents Profile</a></li>
                                </ul>
                              </li>
                              <li><a href="#">Agency</a>
                                <ul>
                                  <li><a href="#">Agency List</a></li>
                                  <li><a href="#">Agency Profile</a></li>                      
                                </ul>
                              </li>
                              <li><a href="#">About</a></li>
                              <li><a href="#">Login</a></li>
                              <li><a href="#">Register</a></li>
                              <li><a href="#">Pricing Plan</a></li>
                              <li><a href="#">Typography</a></li>
                              <li><a href="#">Compare Properties</a></li>
                              <li><a href="#">User Elements</a></li>
                              <li><a href="#">Icons Cheatsheet</a></li>
                            </ul>
                          </li> -->


                         
 
                        </ul>

                      </nav>


                      <div class="clearfix"></div>
                    </div>

                      <!-- Right Side Content / End -->
                        <div class="right-side"> 
                          <div class="header-widget"> 
                            <div class="user-menu con-1">
                              {% if  not user %}
    
    
                                     

                               <div class="left-side con-2" >
                                   
                                <a href="{{'userlogin'|page}}" ><i class="sl sl-icon-user"></i> User Login</a>
                              </div> 
                               
                   
                           {% else %}
                           <div class="user-name"><span><i class="sl sl-icon-user"></i></span><div class="user-name-title">{{user.login}}</div></div>
                           <ul>
                             <li><a href="{{'userdashboard'|page}}"><i class="sl sl-icon-user"></i> My Dashboard</a></li>
                             <li><a href="{{'userprofile'|page}}"><i class="sl sl-icon-user"></i> My Profile</a></li>
                             <li><a href="{{'passwordchange'|page}}"><i class="sl sl-icon-user"></i> Change Password</a></li>
                             <li><a data-request="onLogOut"><i class="sl sl-icon-power"></i> Log Out</a></li>
                            </ul> 
                         </div>
                           {% endif %}
   
                            
                            <a href="agentregister" class="button border"><i class="icon-feather-plus-circle"></i> <span> Become an agent</span></a> 
                      </div>
                        </div>
        <!-- Right Side Content / End -->  
                  </div>
                  </div>
              </header>

            {% page %}
        </body>

        <!-- Footer -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        {% framework extras %}
        {% scripts %}
  <div id="footer"> 
    <div class="container">
      <div class="row">
	    <div class="col-md-4 col-sm-12 col-xs-12"> 
          <a href="index-1.html"><img class="footer-logo" src="{{'assets/img/WESL.png' |theme}}" alt=""></a>
          <ul class="utf-download-text">
              
            <li>
				<a href="#" class="" title="App Store">
				 <i class="icon-line-awesome-apple"></i>
				 <span>App Store</span>
				 <p>Available Now</p>
				</a>
			</li>
			<li>
				<a href="#" class="tooltip top" title="Google Play">
				 <i class="icon-line-awesome-android"></i>
				 <span>Google Play</span>
				 <p>Get in On</p>
				</a>
			</li> 
			
		</ul> 	
			</div>
        <div class="col-md-2 col-sm-3 col-xs-6">
          <h4>Useful Links</h4>
          <ul class="utf-footer-links-item">
            <li><a href="index-1.html">Home</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Properties</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-6">
          <h4>My Account</h4>
          <ul class="utf-footer-links-item">
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">My Profile</a></li>
            <li><a href="#">Add Property</a></li>
			<li><a href="#">My Listing</a></li>
            <li><a href="#">Favorites</a></li>
          </ul>
        </div>
   
		
      <div class="row">
        <div class="col-md-12">
          <div class="copyrights">Copyright © 2020 All Rights Reserved.</div>
        </div>
      </div>
    </div>
  </div>
  
  
  <script src="{{'assets/js/chosen.min.js' |theme }}"></script> 
  <script src="{{'assets/js/magnific-popup.min.js' |theme}}"></script> 
  <script src="{{'assets/js/owl.carousel.min.js' |theme}}"></script> 
  <script src="{{'assets/js/rangeSlider.js' |theme}}"></script> 
  <script src="{{'assets/js/sticky-kit.min.js' |theme}}"></script> 
  <script src="{{'assets/js/slick.min.js' |theme}}"></script> 
  <script src="{{'assets/js/masonry.min.js' |theme}}"></script> 
  <script src="{{'assets/js/mmenu.min.js' |theme}}"></script> 
  <script src="{{'assets/js/tooltips.min.js' |theme}}"></script> 
  <script src="{{'assets/js/typed.js' |theme }}"></script>
  <script src="{{'assets/js/custom_jquery.js' |theme}}"></script>

  


  

       
  <!-- Footer / End -->

  <!-- Sign In Popup -->
<div id="utf-signin-dialog-block" class="zoom-anim-dialog mfp-hide dialog-with-tabs"> 
  <div class="utf-signin-form-part">
    <ul class="utf-popup-tabs-nav-item">
      <li><a href="#login">Log In</a></li>
      <li><a href="#register">Register</a></li>
    </ul>
    <div class="utf-popup-container-part-tabs"> 
      <!-- Login -->
      <div class="utf-popup-tab-content-item" id="login"> 
        <div class="utf-welcome-text-item">
          <h3>Welcome Back Sign in to Continue</h3>
          <span>Don't Have an Account? <a href="#" class="register-tab">Sign Up!</a></span> 
		</div>
        <form method="post" id="login-form">
          <div class="utf-no-border">
            <input type="text" name="emailaddress" id="emailaddress" placeholder="Email Address" required/>
          </div>
          <div class="utf-no-border">
            <input type="password" name="password" id="password" placeholder="Password" required/>
          </div>
		  <div class="checkbox margin-top-0">
			<input type="checkbox" id="two-step">
			<label for="two-step"><span class="checkbox-icon"></span> Remember Me</label>
		  </div>
          <a href="forgot_password.html" class="forgot-password">Forgot Password?</a>
        </form>
        <button class="button full-width utf-button-sliding-icon ripple-effect" type="submit" form="login-form">Log In <i class="icon-feather-chevrons-right"></i></button>
        <div class="utf-social-login-separator-item"><span>or</span></div>
        <div class="utf-social-login-buttons-block">
          <button class="facebook-login ripple-effect"><i class="icon-brand-facebook-f"></i> Facebook</button>
		  <button class="google-login ripple-effect"><i class="icon-brand-google-plus-g"></i> Google+</button>
		  <button class="twitter-login ripple-effect"><i class="icon-brand-twitter"></i> Twitter</button>
        </div>
      </div>
      
      <!-- Register -->
      <div class="utf-popup-tab-content-item" id="register"> 
        <div class="utf-welcome-text-item">
          <h3>Create your Account!</h3>
		  <span>Don't Have an Account? <a href="#" class="register-tab">Sign Up!</a></span> 
        </div>        
        <form method="post" id="utf-register-account-form">
          <div class="utf-no-border margin-bottom-20">
			<select class="utf-chosen-select-single-item utf-with-border" title="Single User">
				<option>Single User</option>
				<option>Agent</option>
				<option>Multi User</option>				
			</select>
		  </div>
		  <div class="utf-no-border">
            <input type="text" name="name" id="name" placeholder="User Name" required/>
          </div>
		  <div class="utf-no-border">
            <input type="text" name="emailaddress-register" id="emailaddress-register" placeholder="Email Address" required/>
          </div>
		  <div class="utf-no-border">
            <input type="password" name="password-register" id="password-register" placeholder="Password" required/>
          </div>
          <div class="utf-no-border">
            <input type="password" name="password-repeat-register" id="password-repeat-register" placeholder="Repeat Password" required/>
          </div>
		  <div class="checkbox margin-top-0">
			<input type="checkbox" id="two-step0">
			<label for="two-step0"><span class="checkbox-icon"></span> By Registering You Confirm That You Accept <a href="#">Terms & Conditions</a> and <a href="#">Privacy Policy</a></label>
		  </div>
        </form>
        <button class="margin-top-10 button full-width utf-button-sliding-icon ripple-effect" type="submit" form="utf-register-account-form">Register <i class="icon-feather-chevrons-right"></i></button>
        <div class="utf-social-login-separator-item"><span>or</span></div>
        <div class="utf-social-login-buttons-block">
          <button class="facebook-login ripple-effect"><i class="icon-brand-facebook-f"></i> Facebook</button>
		  <button class="google-login ripple-effect"><i class="icon-brand-google-plus-g"></i> Google+</button>
		  <button class="twitter-login ripple-effect"><i class="icon-brand-twitter"></i> Twitter</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Sign In Popup / End -->


</html>