
==


<html>
    <head>
        <title>Welcome to WESL</title>
        <link rel="stylesheet" href="{{ 'assets/css/style.css'|theme }}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    </head>
    <body>
    
      <div>
         {% page %}
      </div>
      
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        {% framework extras %}
        {% scripts %}
        
        
    </body>
</html>