<html>
    <head>
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{'assets/css/stylesheet.css'|theme}}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <style>
       @media only screen and (max-width: 767px) {

          .colform
           {
              position: absolute;
             left: 50%;
             top: 50%;
             transform: translate(-50%, -50%);
           }
  
  
  
        }

        .imagesize
        {
            height: 100vh;
        }

        .imagewidth
        {
            padding: 0;
        }

        .panelcenter
        {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .spaceweight
        {
            overflow: hidden;
        }
        
    </style>

    <body>

        {% page %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
     
        {% framework extras %}
        {% scripts %}
    </body>
</html>