title = "AGENT LOGIN"
url = "/agentlogin"
layout = "agentregister"
is_hidden = 0

==

<?php 

use Custom\Agents\Controllers\Agents;
use Custom\Agents\Models\Agent;
use Backend\Models\User;

function onSign()
{

  
  Agents::onSignin($_POST);
  $this['logged'] = Session::get('user_id');
  return Backend::redirect('backend');
  
  
   

}



?>
==



<div class="clearfix"></div>
<!-- Header Container / End --> 

<!-- Titlebar -->
<div class="parallax titlebar" data-background="images/listings-parallax.jpg" data-color="rgba(48, 48, 48, 1)" data-color-opacity="0.8" data-img-width="800" data-img-height="505">
  <div id="titlebar">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Agent Log In</h2>
          <!-- Breadcrumbs -->
         
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Contact --> 
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="my-account">
        <div class="tabs-container"> 
          <!-- Login -->
      <div class="utf-welcome-text-item">
      <h3>Welcome Back Sign in to Continue</h3>
      <span> Want to be Agent <a href="{{'agentregister'|page}}">Click Here</a></span> 
      </div>
            <form method="post" data-request="onSign" class="login">
              <div class="form-row form-row-wide">
                  <input type="text" class="input-text" name="login" id="email" placeholder="Login" value="" />
              </div>
              <div class="form-row form-row-wide">
                  <input class="input-text" type="password" name="password" placeholder="Password" id="password"/>
              </div>
              <div class="form-row">
                <div class="checkbox margin-top-10 margin-bottom-10">
        <input type="checkbox" id="two-step">
        <label for="two-step"><span class="checkbox-icon"></span> Remember Me</label>
        </div>
        <a class="#" href="#">Forgot Password?</a>	
              </div>
      <input type="submit" class="button full-width border margin-top-10" name="login" value="Login" />
            </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div>
  <div class="utf-welcome-text-item">

  </div>
 
</div>

<!-- Container / End --> 