title = "Agent List"
url = "/agentlistt"
layout = "default2"

==

<?php
use Custom\Agents\Controllers\Agents;
use Custom\Agents\Models\Agent;
use Custom\Agents\Models\City;
use Custom\Currency\Models\Currency;
use Custom\Agents\Models\Country;
use Custom\Services\Models\Service;


public function OnStart()
{

  $this['agents'] = Agents::getAllAgentList();
  $this['city'] = City::all();
  $this['country'] = Country::all();
  $this['service'] = Service::all();
  $this['currencies'] = Currency::all();
  $this['dummyData'] = $_GET;
}

function onFilterSearch(){
  $agents = Agents::getAgentListByAttributes($_POST);
  if($agents){
    $this['agents'] = $agents;
  }else{
    $this['agents'] = Agents::getAllAgentList();
  }
}




?>

==
<div class="parallax titlebar" data-background="images/listings-parallax.jpg" data-color="rgba(48, 48, 48, 1)" data-color-opacity="0.8" data-img-width="800" data-img-height="505">
    <div id="titlebar">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2>Agency List</h2>
            <!-- Breadcrumbs -->
            <nav id="breadcrumbs">
              <ul>
                <li><a href="home">Home</a></li>
                <li>Agency List</li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
</div>
  
  <!-- Content -->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <div class="sidebar"> 
    
    <div class="widget utf-sidebar-widget-item">
          <div class="utf-boxed-list-headline-item">
      <h3>Country</h3>
    </div>
    {{form_ajax('onFilterSearch',{ class: 'form-items', update: { 'agents/agentlisting': '#agent_list'}}) }}
      <div class="row with-forms"> 
        <div class="row with-forms"> 
          <div class="col-md-12">
            <select  name="country_id"  class="chosen-select">
              <option>Select Your Country</option>
              {% for country in country %}
              <option value="{{country.id}}">{{country.name}}</option>
              {% endfor %}
                                               
            </select>
          </div>
        </div>
              
      </div>

      <div class="utf-boxed-list-headline-item">
       <h3>City</h3>
       </div>
      <div class="row with-forms"> 
        <div class="row with-forms"> 
          <div class="col-md-12">
            <select onchange="getFilterList()" name="city_id"  class="chosen-select">
              <option>Select Your Country</option>
              {% for city in city %}
              <option value="{{city.id}}">{{city.name}}</option>
              {% endfor %}
                                              
            </select>
          </div>
        </div>
      </div>
      <!-- Currency Search -->
      <div class="utf-boxed-list-headline-item">
        <h3>Currency</h3>
        </div>
       <div class="row with-forms"> 
         <div class="row with-forms"> 
           <div class="col-md-12">
             <select onchange="getFilterList()" name="currency_id"  class="chosen-select">
               <option>Select the Base Currency</option>
               {% for currency in currencies %}
               <option value="{{ currency.id }}">{{ currency.currency_name }}</option>
               {% endfor %}
                                               
             </select>
           </div>
         </div>
       </div>
       <!-- Rating Search -->
       <div class="utf-boxed-list-headline-item">
        <h3>Rating</h3>
        </div>
        <div class="row with-forms"> 
          <div class="row with-forms"> 
            <div class="col-md-12">
              <select onchange="getFilterList()" name="rating_id"  class="chosen-select">
                <option class="checked" value="1">&#9733;&#9734;&#9734;&#9734;&#9734;</option>
                <option class="checked" value="2">&#9733;&#9733;&#9734;&#9734;&#9734;</option>
                <option class="checked" value="3">&#9733;&#9733;&#9733;&#9734;&#9734;</option>
                <option class="checked" value="4">&#9733;&#9733;&#9733;&#9733;&#9734;</option>
                <option class="checked" value="5">&#9733;&#9733;&#9733;&#9733;&#9733;</option>

                                                
              </select>
            </div>
          </div>
        </div>
      <!-- <button type="submit" class="button fullwidth margin-top-10">Search</button> -->
    </div>
    {{ form_close()}}
    
        
      </div>
    </div>
    <div class="col-xs-12 col-md-8">
      <div id="agent_list">

              <div class="col-md-6"> 
        
                <div class="agent agents-profile agency"> <a href="profileview/2" class="utf-agent-avatar">   
                    <img src="{{'assets/img/avaterplaceholder.jpg' |theme}}" alt="">
                 </a>
                  <div class="utf-agent-content">
                    <div class="utf-agent-name">
                <p class="text-alt">Agent</p>
                      <h4><a href="profileview/{{ dummyData.id }}">{{ dummyData.name }}</a></h4>
                      <ul class="utf-agent-contact-details">
                    <li><i class="icon-material-outline-business"></i>{{ dummyData.country }}</li>
                    <li><i class="icon-material-outline-business"></i>{{ dummyData.city }}</li>
                  <li><i class="icon-feather-smartphone"></i>{{ dummyData.phone }}</li>
                  
                  <li><i class="icon-material-outline-email"></i><a href="#">{{ dummyData.email }}</a></li>
        
                  
                 
                  
                </ul> 
             
               
                <ul class="utf-social-icons">
                  <li><a class="facebook" href="#"><i class="icon-facebook"></i></a></li>
                  <li><a class="twitter" href="#"><i class="icon-twitter"></i></a></li>
                  <li><a class="linkedin" href="#"><i class="icon-linkedin"></i></a></li>
                  <li><a class="instagram" href="#"><i class="icon-instagram"></i></a></li>
                  <li><a class="gplus" href="#"><i class="icon-gplus"></i></a></li>
                </ul>
              </div>
              <div class="clearfix"></div>
                    <p>{{dummyData.bio}}</p>                      
                  </div>
                </div>
             
        
               
            </div>	
        </div>
	
        
     
    </div>
    


    
  </div> 
</div>

<script>

  function getFilterList(){
    setTimeout(function(){
        $('.form-items').request('onFilterSearch')
    }),1000;
  }
</script>

