title = "AGENT SIGN UP"
url = "/agentregister"
layout = "agentregister"

==


<?php
use Custom\Agents\Controllers\Agents;
use Custom\Agents\Models\City;
use Custom\Agents\Models\Country;
use Flash;


public function onStart()
{

  $this['country'] = Country::all();
  $this['city'] = City::all();
}

function onInqurycontact()
{
  $Agents = Agents::onInquryAgent($_POST);
  
  Flash::success('Information have edited Successfully');
  
}

?>


==

<div class="clearfix"></div>
<!-- Header Container / End --> 

<!-- Titlebar -->
<div class="parallax titlebar" data-background="images/listings-parallax.jpg" data-color="rgba(48, 48, 48, 1)" data-color-opacity="0.8" data-img-width="800" data-img-height="505">
  <div id="titlebar">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Register</h2>
          <!-- Breadcrumbs -->
          <nav id="breadcrumbs">
            <ul>
              <li><a href="#">Home</a></li>
              <li>Agent Register</li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Contact --> 
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="my-account">
        <div class="tabs-container"> 
          <!-- Register -->
            <div class="utf-welcome-text-item">
              <h3>Create Your New Account!</h3>
              <span>Have a account <a href="agentlogin">Log In</a></span> 
            </div>
            <form data-request="onInqurycontact" class="login">
              <div class="form-row form-row-wide margin-bottom-15">
                  <!-- <select class="utf-chosen-select-single-item utf-with-border" title="Single User">
                      <option>Single User</option>
                      <option>Agent</option>
                      <option>Multi User</option>				
                  </select> -->
              </div>
              <div class="form-row form-row-wide">
                  <input type="text" class="input-text" name="first_name" id="first_name" placeholder="First Name" value="" />
              </div>
              <div class="form-row form-row-wide">
                  <input type="text" class="input-text" name="last_name" id="last_name" placeholder="Last Name" value="" />
              </div>
              <div class="form-row form-row-wide">
                <input type="text" class="input-text" name="login" id="login" placeholder="Username" value="" />
            </div>
            <div class="form-row form-row-wide">
                <input type="email" class="input-text" name="email" id="email" placeholder="Email Address" value="" />
            </div>

            <div class="form-row form-row-wide">
              <select name="country" class="utf-chosen-select-single-item utf-with-border" title="Choose The Country">
                
                <!--<option>Choose the Country</option>-->
                {% for country in country %}
                <option value="{{country.id}}">{{country.name}}</option>
                {% endfor %}
              </select>
            </div>
            
            <div class="form-row form-row-wide">
                <input type="number" class="input-text" name="agent_contact" id="email" placeholder="Contact No" value="" />
            </div>


          

            <div class="form-row form-row-wide">
              <select name="city" class="utf-chosen-select-single-item utf-with-border" title="Choose The City">
                <!--<option>Choose The City</option>-->
                {% for city in city %}
                <option value="{{city.id}}">{{city.name}}</option>
                {% endfor %}
               
             </select>
            
            </div>
            



            

              
            <div class="form-row checkbox margin-top-10 margin-bottom-10">
                <input type="checkbox" id="two-step0">
                  <!-- <label for="two-step0"><span class="checkbox-icon"></span> By Registering You Confirm That You Accept <a href="#">Terms & Conditions</a> and <a href="#">Privacy Policy</a></label> -->
              </div>
            <input type="submit" class="button full-width border margin-top-10" name="Create An Account" value="Create your Account" />
            	
            </form>
        </div>
      </div>
    </div>
  </div>
</div>

