title = "Error"
url = "/error"
layout = "default2"
==
==
<div class="container">
    <pre></pre>
    <div class="col-lg-12 col-md-12 col-xs-12">
        <div class="col-lg-4 col-md-5 col-xs-4">
            <span >
                <i class="fa fa-exclamation-triangle" style="float: right;color: red;font-size: 100px !important;" aria-hidden="true"></i>
            </span>

        </div>
        <div class="col-lg-8 col-md-8 col-xs-8">
            <h3>OPPSSS!!!! Sorry...</h3>
            <span>
                    Sorry, your access is refused due to security reasons of our server and also our sensitive data.
    Please go back to the previous page to continue browsing.
            </span>
        </div>

    </div>
</div>