title = "Forget Password"
url = "/forgetpassword"
layout = "user"


==

<?php

use Custom\User\Controllers\Users;
use Custom\User\Models\User;
use Session;

function onForget()
{

    $user = Users::forgetpassword($_POST);
    Flash::success('Reset Email have been send');
    return [
      '#flash_message' => $this->renderPartial('Flash/flashmessage')
    ];

}

?>

==


<div class="container-fluid imagewidth spaceweight">
    <div class="row">
      <div class="col-12 col-md-6">
       <img  class="imagesize" src="{{'assets/img/weslportal.png' |theme }}">
      </div>
      {% partial 'Flash/flashmessage' %}
      <div class="col colform">
          <div class="row">
            <div class="col-12 col-md-10 panelcenter">
              <div class="my-account">
                <div class="tabs-container"> 
                  <!-- Login -->
              <div class="utf-welcome-text-item">
            <form data-request="onForget" >    
              <h3>Forget Password</h3>
              </div>
                      <div class="form-row form-row-wide">
                        <input type="email" class="input-text" name="email" id="email" placeholder="Email Address" value="" />
                      </div>
                     
                      <div class="form-row">
                        <div class="checkbox margin-top-10 margin-bottom-10">
                <input type="checkbox" id="two-step">
                
                </div>
                <!-- <a class="lost_password" href="forgot_password.html">Forgot Password?</a>	 -->
                      </div>
              <input type="submit" class="button full-width border margin-top-10" name="login" value="Forget Password" />

            </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>