title = "home"
url = "/home"
layout = "default2"
==

<?php

use Custom\Agents\Controllers\Agents;
use Custom\Agents\Models\Agent;
use Custom\Agents\Models\City;
use Custom\Agents\Models\Country;
use Custom\Currency\Models\Currency;
use Custom\Slider\Models\Slider;
use Custom\Currency\Controllers\Currencies;




public function onStart()
{

	
	$this['agent'] = Agents::topagent();
	$this['newagents'] = Agents::getNewAgents();
	$this['city'] = City::paginate(5);
	$this['currency'] = Currency::all();
	$this['country'] = Country::paginate(5);
	$this['slider'] = Slider::all();
	
	

  
}

function onSearch()
{
    
    Agents::getAgentListBySearch($_POST);
 
}
?>

==

<div class="clearfix"></div>
  

  <!--<div class="parallax" data-background="{{ 'assets/img/banner.jpg' | theme}}" data-color="#36383e" data-color-opacity="0.72" data-img-width="2500" data-img-height="1600">-->
  <!--  <div class="utf-parallax-content-area">-->
  <!--    <div class="container">-->
  <!--      <div class="row">-->
  <!--        <div class="col-md-12"> -->
  <!--          <div class="utf-main-search-container-area">-->
  <!--            <div class="utf-banner-headline-text-part">-->
		<!--		<h2>Welcome to WESL  <span class="typed-words"></span></h2>-->
		<!--		<span>From as low as $10 per day with limited time offer discounts.</span> -->
		<!--	  </div>-->
         
         
             
  <!--          </div>-->
  <!--        </div>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--  </div>-->
  <!--</div>-->
  
  
  <!--{% partial 'slider/slide' %}-->
  
  <!-- Top Agents -->
  <section class="fullwidth" data-background-color="#ffffff">
	  <div class="container">
		<div class="row">
		  <div class="col-md-12">	
			<div class="utf-section-headline-item centered margin-bottom-30 margin-top-0">
			  <h3 class="headline"> Top Agents</h3>
			  <div class="utf-headline-display-inner-item">Most Featured Agents</div>
			</div>  
		  </div>
		  <div class="col-md-12">
			<div class="carousel"> 
			{% for agent in agent %}
			  <div class="utf-carousel-item-area">
				<div class="utf-listing-item"> 
				  <a href="single-property-page-1.html" class="utf-smt-listing-img-container">
				  <div class="utf-listing-badges-item"> 
					<!--<span class="featured">Featured</span> -->
					<!--<span class="for-sale">For Sale</span> -->
				  </div>				  
				  <div class="utf-listing-img-content-item"> 					
					{% if agent.avater %}
					<img class="utf-user-picture" src="{{agent_user.avatar.path}}" alt="user_1" />
					   
				   {% else %}
				   
					<img class="utf-user-picture" src="{{'assets/img/avaterplaceholder.jpg' |theme}}" alt="user_1" />
				   
				   {% endif %} 
					<!--<span class="like-icon with-tip" data-tip-content="Bookmark"></span> -->
					<!--<span class="compare-button with-tip" data-tip-content="Add to Compare"></span> -->
					<!--<span class="video-button with-tip" data-tip-content="Video"></span>-->
				  </div>
				  <div class="utf-listing-carousel-item">
					<div>
						{% if agent.avater %}
						<img src="{{agent.agent_user.avatar.path}}" alt="">
						{% else %}
						<img class="utf-user-picture" src="{{'assets/img/avaterplaceholder.jpg' |theme}}" alt="user_1" />
						{% endif %} 
					</div>
				
				  </div>
				  </a>
				  <div class="utf-listing-content">				
					<div class="utf-listing-title">
					  <!-- <span class="utf-listing-price">$18,000/mo</span> 						  	 -->
					  <h4><a href="single-property-page-1.html">{{ agent.userName.first_name }} {{ agent.userName.last_name }}</a></h4>
					  <!--<span class="utf-listing-address"><i class="icon-material-outline-location-on"></i> {{ agent.country.name }}, {{ agent.city.name }}</span> 											  -->
					</div>				
				
					<!--<div class="utf-listing-user-info"><a href="agents-profile.html"><i class="icon-line-awesome-user"></i> {{ agent.userName.first_name }}{{ agent.userName.last_name }}</a> <span>1 Days Ago</span></div>	-->
				  </div>
				</div>
			  </div>
			{% endfor %}  
			  
			
			
			  
		
			</div>
		  </div>      
		</div>
	  </div>
  </section>
   
  <!-- New Agents -->
  <section class="fullwidth" data-background-color="#ffffff">
	  <div class="container">
		<div class="row">
		  <div class="col-md-12">	
			<div class="utf-section-headline-item centered margin-bottom-30 margin-top-0">
			  <h3 class="headline"> New Agents</h3>
			  <div class="utf-headline-display-inner-item">Newly Joinded Agents</div>
			</div>  
		  </div>
		  <div class="col-md-12">
			<div class="carousel"> 
			{% for agent in newagents %}
			  <div class="utf-carousel-item-area">
				<div class="utf-listing-item"> 
				  <a href="single-property-page-1.html" class="utf-smt-listing-img-container">
				  <div class="utf-listing-badges-item"> 
					<!--<span class="featured">Featured</span> -->
					<!--<span class="for-sale">For Sale</span> -->
				  </div>				  
				  <div class="utf-listing-img-content-item"> 					
					{% if agent.avater %}
					<img class="utf-user-picture" src="{{agent_user.avatar.path}}" alt="user_1" />
					   
				   {% else %}
				   
					<img class="utf-user-picture" src="{{'assets/img/avaterplaceholder.jpg' |theme}}" alt="user_1" />
				   
				   {% endif %} 
					<!--<span class="like-icon with-tip" data-tip-content="Bookmark"></span> -->
					<!--<span class="compare-button with-tip" data-tip-content="Add to Compare"></span> -->
					<!--<span class="video-button with-tip" data-tip-content="Video"></span>-->
				  </div>
				  <div class="utf-listing-carousel-item">
					<div>
						{% if agent.avater %}
						<img src="{{agent.agent_user.avatar.path}}" alt="">
						{% else %}
						<img class="utf-user-picture" src="{{'assets/img/avaterplaceholder.jpg' |theme}}" alt="user_1" />
						{% endif %} 
					</div>
				
				  </div>
				  </a>
				  <div class="utf-listing-content">				
					<div class="utf-listing-title">
					  <!-- <span class="utf-listing-price">$18,000/mo</span> 						  	 -->
					  <h4><a href="single-property-page-1.html">{{ agent.first_name }} {{ agent.last_name }}</a></h4>
					  <!--<span class="utf-listing-address"><i class="icon-material-outline-location-on"></i> {{ agent.country.name }}, {{ agent.city.name }}</span> 											  -->
					</div>				
				
					<!--<div class="utf-listing-user-info"><a href="agents-profile.html"><i class="icon-line-awesome-user"></i> {{ agent.userName.first_name }}{{ agent.userName.last_name }}</a> <span>1 Days Ago</span></div>	-->
				  </div>
				</div>
			  </div>
			{% endfor %}  
			  
			
			
			  
		
			</div>
		  </div>      
		</div>
	  </div>
  </section>

 
  

  
  <!-- Fullwidth Section -->

  <!-- Start Section Callout -->

  <!-- End Section Callout -->
  
  <section class="fullwidth" data-background-color="#ffffff">
	<div class="container">
		<div class="row">
		  <div class="col-md-12">	
			<div class="utf-section-headline-item centered margin-bottom-30 margin-top-0">
			  <h3 class="headline"> Top Cities Around You </h3>
			  <div class="utf-headline-display-inner-item">Most Popular Places</div>
			  <p class="utf-slogan-text">Find the agents from cities closer to you</p>
			</div>  
		  </div>
		  <div class="col-md-4 col-sm-6"> 
			
			   <a href="agentlistt?id=47&name=Lalith+Dale&country=Italy&city=Venice&email=vamabazeza@mailinator.com&phone=+39-351-2555-8141" class="img-box"> 
				<img src="storage/app/media/venice.jpg" alt="" />
				<div class="utf-cat-img-box-content visible">
				  <h4>Venice</h4>
				  <!-- <span>14 Properties</span>  -->
				</div>
			</a> 
		
		  </div>
		  <div class="col-md-4 col-sm-6"> 
			
			   <a href="agentlistt?id=48&name=Disney+Jude&country=Italy&city=Rome&email=zunavowad@mailinator.com&phone=+39-351-2555-8141" class="img-box"> 
				<img src="storage/app/media/rome.jpg" alt="" />
				<div class="utf-cat-img-box-content visible">
				  <h4>Rome</h4>
				  <!-- <span>14 Properties</span>  -->
				</div>
			</a> 
		
		  </div>
		  <div class="col-md-4 col-sm-6"> 
			
			   <a href="agentlistt?id=34&name=Blair+Pruitt&country=Italy&city=Milan&email=xecexypak@mailinator.com&phone=+39-351-2555-8141" class="img-box"> 
				<img src="storage/app/media/milan.jpg" alt="" />
				<div class="utf-cat-img-box-content visible">
				  <h4>Milan</h4>
				  <!-- <span>14 Properties</span>  -->
				</div>
			</a> 
		
		  </div>
		  <div class="col-md-4 col-sm-6"> 
			
			   <a href="agentlistt?id=49&name=Devid+Billa&country=Italy&city=Bologna&email=gahyw@mailinator.com&phone=+39-351-2555-8141" class="img-box"> 
				<img src="storage/app/media/bologna.jpg" alt="" />
				<div class="utf-cat-img-box-content visible">
				  <h4>Bologna</h4>
				  <!-- <span>14 Properties</span>  -->
				</div>
			</a> 
		
		  </div>
		  <div class="col-md-4 col-sm-6"> 
			
			   <a href="agentlistt?id=50&name=Anjalow+Kartramar&country=Italy&city=Tuscany&email=vamabazeza@mailinator.com&phone=+39-351-2555-8141" class="img-box"> 
				<img src="storage/app/media/tuscany.jpg" alt="" />
				<div class="utf-cat-img-box-content visible">
				  <h4>Tuscany</h4>
				  <!-- <span>14 Properties</span>  -->
				</div>
			</a> 
		
		  </div>
		  <div class="col-md-4 col-sm-6"> 
			
			   <a href="agentlistt?id=47&name=Lalith+Dale&country=Italy&city=Palermo&email=zunavowad@mailinator.com&phone=+39-351-2555-8141" class="img-box"> 
				<img src="storage/app/media/palermo.jpg" alt="" />
				<div class="utf-cat-img-box-content visible">
				  <h4>Palermo</h4>
				  <!-- <span>14 Properties</span>  -->
				</div>
			</a> 
		
		  </div>		  
		  
		<!--<div class="utf-centered-button margin-top-10">-->
		<!--	<a href="all-categorie.html" class="button">View All Categories</a> -->
		<!--</div>-->
	 </div>
  </section>
  
  <!-- Fullwidth Section -->

  
  

