title = "index"
url = "/"
layout = "default"
==


<div class="bgimg" style="background-image: url({{ 'assets/img/forestbridge.jpg'|theme }})">
    <div class="topleft">
      <img src="{{ 'assets/img/WESL.png'|theme }}">
      
    </div>
    {% page %}
    {% framework extras %}
    {% scripts %}
    <div class="middle">
    <h1>COMING SOON</h1>
    <hr>

  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  </div>