title = "Service"
url = "/services"
layout = "default2"

==

<?php

use Custom\Agents\Controllers\Agents;
use Custom\loyaltyservices\Models\Service;
use Custom\loyaltyservices\Controllers\Services;


public function onStart(){
    $this['categories'] = Service::select('category')->distinct()->get();

    $this['service'] = Service::all();
}

function onFilterSearch(){

  $service = Services::getStatusByCategory($_POST['category_id']);

  if($service){
    $this['service'] = $service;
  }else{
    $this['service'] =  Service::all();
  }
}

?>


==



    <div class="container">
   
             <div class="col-lg-2 col-md-2 col-xs-12">
              {{form_ajax('onFilterSearch',{ class: 'category', update: { 'service/service': '#service'}}) }}
        <div class="row with-forms"> 
          <div class="row with-forms"> 
            <div class="col-md-12">
              <label for="category_id">Category</label>
              <select  name="category_id"  onchange="getFilterList()" class="chosen-select">
                <option>Category</option>
                {% for c in categories %}
                <option value="{{c.category}}">{{c.category}}</option>
                {% endfor %}
                                                
              </select>
            </div>
          </div>
                
        </div>
        {{form_close()}}
     </div>
          <div class="col-md-10 col-lg-10 col-xs-12"> 

        {% partial 'service/service' service=service %}
         
            <!-- Agency -->
            

          

</div>
</div>



<script>

  function getFilterList(){
    setTimeout(function(){
        $('.category').request('onFilterSearch')
    }),1000;
  }
</script>
            


