title = "My Ads"
url = "/myad/:id?"
layout = "agentregister"
filter_id = {{:id}}
==
<?php
use Custom\Video\Controllers\VideoPoints;
use Custom\Video\Controllers\Videos;
use Custom\Video\Models\Video;
use October\Rain\Exception\ApplicationException;

public function onStart(){
    if (empty( $_SERVER['HTTP_REFERER'])){
        //trigger_error("You are not Authorized Please Go to Backend");
        //throw new ApplicationException('You must be logged in to do that!');
        App::abort(403, 'Unauthorized action.');
        
    }else{
        $id = $this->param('id');
        $this['ad'] = Video::where('advertiser_id', $id)->lists('name', 'id');
    }


}

public function onFilterSearch(){
    $adData = VideoPoints::getAdData($_POST['ad_id']);
    if($adData){
      $this['adData'] = $adData;
    }else{
      $this['adData'] = "Plase Select a Video";
    }
}
?>
==
<style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }
    </style>
    <pre></pre>
<div class="container">
    <div class="col-lg-12 col-md-12 col-xs-12">
           <!-- sidebar -->
     <div class="col-lg-2 col-md-2 col-xs-12">
        {{form_ajax('onFilterSearch',{ class: 'category', update: { 'video/adData': '#adData'}}) }}
          <div class="row with-forms"> 
            <div class="row with-forms"> 
              <div class="col-md-12">
                <label for="ad_id">Advertisement Name</label>
                <select  name="ad_id"  onchange="getFilterList()" class="chosen-select">
                  <option>Name</option>
                  {% for key, value in ad %}
                  <option value="{{key}}">{{value}}</option>
                  {% endfor %}
                                                  
                </select>
              </div>
            </div>
                  
          </div>
        {{form_close()}}
       </div>
       <!-- Data  -->

       <div class="col-lg-10 col-md-10 col-xs-12">
        {% partial 'video/adData' adData=adData %}
       </div>
    </div>

</div>

<script>

    function getFilterList(){
      setTimeout(function(){
          $('.category').request('onFilterSearch')
      }),1000;
    }
  </script>
  