title = "Password Change"
url = "/passwordchange"
layout = "default2"

==

<?php
 use Custom\User\Controllers\Users;
 use Custom\User\Models\User;

public function onPassword()
{
    Users::savepassword($_POST);

    

}



 

?>

==

<div class="clearfix"></div>
<!-- Header Container / End --> 

<!-- Titlebar -->


<!-- Content -->
<div class="container">
  <div class="row"> 
    <!-- Widget -->
    <div class="col-md-3">
      <div class="margin-bottom-20"> 
          
      </div>
      <div class="clearfix"></div>
      <div class="sidebar margin-top-20">
        <div class="user-smt-account-menu-container">
          <ul class="user-account-nav-menu">
            <li><a href="{{'userdashboard'|page}}"><i class="sl sl-icon-user"></i> My Dashboard</a></li>
            <li><a href="{{'userprofile'|page}}"><i class="sl sl-icon-user"></i> My Profile</a></li>
            <li><a href="{{'passwordchange'|page}}"><i class="sl sl-icon-user"></i> Change Password</a></li>
            <li><a data-request="onLogOut"><i class="sl sl-icon-power"></i> Log Out</a></li>
          </ul>
        </div>
      </div>
      <div class="widget utf-sidebar-widget-item">
                
      </div>
    </div>
    <div class="col-md-9">
     <form data-request="onPassword">
        <div class="utf-user-profile-item userpanel">
            <div class="utf-submit-page-inner-box">
              <h3>Change Password</h3>
              <div class="content with-padding">
    
                 
                  <div class="col-md-4">
                      <label>New Password</label>
                      <input name="password" type="password" placeholder="*********">
                  </div>
                  <div class="col-md-4">
                      <label>Confirm New Password</label>
                      <input name="confirm_password" type="password" placeholder="*********">
                  </div>
              </div>			
            </div>  
            <div class="row">
              <div class="col-md-12">
                  <button type="submit" class="utf-centered-button button">Save Changes</button>
              </div>
            </div>	
          </div>

        
     </form>
     
    </div>
  </div>
</div>