title = "Ad Player"
url = "/player/:id?"
layout = "default2"
filter_id = {{:id}}
==
<?php
use Custom\Video\Controllers\Videos;
use Custom\Video\Models\Video;

public function onStart(){
    $id = $this->param('id');
    $this['video'] = Video::find($id);
}
?>
==

<style>
  #overlay{
    height: 100% !important;
  }
</style>
 <!-- Titlebar -->
<div class="parallax titlebar" data-background="images/listings-parallax.jpg" data-color="rgba(48, 48, 48, 1)" data-color-opacity="0.8" data-img-width="800" data-img-height="505">
    <div id="titlebar">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2>{{ video.name}}</h2>
            <!-- Breadcrumbs -->
            <nav id="breadcrumbs">
              <ul>
                <li><a href="../home">Home</a></li>
                 <li><a href="../video">Videos</a></li>
                <li>{{ video.name}}</li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
</div>
<div class="container">
  <div class="col-lg-10 col-md-10 col-xs-12">


  <div class="row">

    <div class="media-wrapper-solo" id="video1">
      <div id="overlay">
        <div id="textSuccess">You earned {{ video.point }} points for the video</div>
        <div id="textFail">You already earned maximum points for the video</div>
      </div>
      <div class="media-player">
         <video src="..{{ video.video_path | media}}" id="media-video"></video>
      </div>
      <div id='media-controls'>
          <!-- <button id='play-pause-button' class='button play' title='play'
          onclick='togglePlayPause();' >Play</button> -->
          <div class="row">        
              <div class="hideButton">
              <button class="ad" id="playButton" onclick='togglePlayPause();'>
                <i class="fas fa-play-circle"></i>
              </button>
              <button id='mute-button' class='mute' title='mute'
              onclick='toggleMute();' value="false"><i class="fas fa-volume-mute"></i></button>
 
              <div style="padding-top: 5px;">
                <button type="submit" id="proceed" style="display: none;" onclick="addPoint()">Skip</button>
              </div>

          </div>
          
          </div>
          
          
       </div>
  </div>
  <input type="hidden" name="id" id="getId" value="{{ video.id}}" name="videoId">
  <input type="hidden" id="getpoint"  value="{{ video.point }}">
  <input type="hidden" id="gettime" value="{{ video.time }}">
  <input type="hidden" id="point" name="finalPoints">

    </div>
  </div>
  <div class="col-lg-2 col-md-2 col-xs-12">
    <a  href="{{'video' |page}}"  class="button">Return to Videos</a>
  </div>
</div> 



    <script src="{{'assets/js/mediaPlayer.js'|theme}}"></script>
  