title = "profileview"
url = "/profileview/:id?"
layout = "default2"
filter_id = {{:id}}

==

<?php


use Custom\Agents\Controllers\Agents;
use Custom\Agents\Models\Agent;
use Custom\Agents\Models\country;
use Custom\Agents\Models\city;
use Custom\Currency\Models\Currencyrate;
use Custom\Currency\Models\AgentCurrency;
use Custom\Currency\Models\Currency;
use Custom\Currency\Controllers\Currencyrates;
use Custom\Services\Models\Service;
use Custom\Services\Controllers\Services;
use Custom\Rating\Controllers\Ratings;
use Custom\Video\Controllers\Videos;


public function onStart(){


  $id = $this->param('id');
    $agentId = Agent::find($id)->user_id;
  
  $userId = session()->get('user_id');
  $this['agent'] =  Agents::getAgentById($id);

  $this['baseCurrency'] = Currencyrates::getAgentBaseCurrency($agentId); 

  $this['calcurrency'] = Currencyrates::getAgentCurrency($agentId);  
  $this['services'] = Services::getfrontservices($id);
  //TODO: Get UserId Dynamically
  $this['ratingPermission'] = Ratings::checkPermissionRate($userId,$id);
  $this['avgRating'] = Ratings::getAvgRating($id);
  $this['showRating'] = Ratings::showRating($id);
  $this['currencies'] = Currencyrates::getFrontEndCurrencyRate($agentId, 1);
  $this['video'] = Videos::generateAd();
}

public function onFilterSearch(){
  $id = $this->param('id');
    $agentId = Agent::find($id)->user_id;
  $this['currencies'] = Currencyrates::getFrontEndCurrencyRate($agentId, $_POST['currency_id']); 

}

public function onChange(){
    $userId = session()->get('user_id');
  $id = $this->param('id');
  //TODO: Get UserId Dynamically
  $this['rating'] = Ratings::saveRating($userId, $id, $_POST['stars']);
  $this['hideRating'] = 1;
}

public function onSearch(){
  $id = $this->param('id');
   $agentId = Agent::find($id)->user_id;
  $this['calcresult'] = Currencyrates::calculateCurrency($_POST, $id);
  //dump(  $this['calcresult']);
}
public function onSubmit(){
    $userId = session()->get('user_id');
  $id = $this->param('id');
  //TODO: Get UserId Dynamically 1 is hardcoded user id
  $this['rating'] = Ratings::saveRating($userId,$id,$_POST);
}



?>

==

 <!-- Titlebar -->
<div class="parallax titlebar" data-background="images/listings-parallax.jpg" data-color="rgba(48, 48, 48, 1)" data-color-opacity="0.8" data-img-width="800" data-img-height="505">
    <div id="titlebar">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2>{{ agent.agent.first_name }} {{ agent.agent.last_name }}</h2>
            <!-- Breadcrumbs -->
            <nav id="breadcrumbs">
              <ul>
                <li><a href="../home">Home</a></li>
                 <li><a href="../agentlist">Agents</a></li>
                <li>{{ agent.agent.first_name }} {{ agent.agent.last_name }}</li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
</div>
  <!-- Content -->
  <div class="container" id="Content">
    <div class="row">
      <div class="col-md-12"> 
        <!-- Agency -->
        <div class="agent agents-profile agency margin-bottom-40"> 
        <a href="#" class="utf-agent-avatar">
          {% if agent.agent_user.avatar.path %}
  
          
          <img src="{{agent.agent_user.avatar.path}}" alt="">
        
        {% else %}
        
          <img src="{{'assets/img/avaterplaceholder.jpg' |theme}}" alt="">
         
        {% endif %} 
        </a>
          <div class="utf-agent-content">
            <div class="utf-agent-name">
              <h4><a href="agency-profile.html">{{ agent.agent.first_name }} {{ agent.agent.last_name }} </a></h4>
			  <span>Agent In {{agent.country.name}}  Town {{agent.city.name}}  </span>
            <ul class="utf-agent-contact-details">
				      <li><i class="icon-feather-smartphone"></i>{{agent.agent.agent_contact}}</li>
				      <li><i class="icon-material-outline-email"></i><a href="#">{{agent.agent.email}}</a></li>
			      </ul> 
			       <ul class="utf-social-icons">
				        <li><a class="facebook" href="#"><i class="icon-facebook"></i></a></li>
				        <li><a class="twitter" href="#"><i class="icon-twitter"></i></a></li>
				        <li><a class="linkedin" href="#"><i class="icon-linkedin"></i></a></li>
				        <li><a class="instagram" href="#"><i class="icon-instagram"></i></a></li>
				        <li><a class="gplus" href="#"><i class="icon-gplus"></i></a></li>
			       </ul>
      </div>
      
      {% partial 'service/servicelist' %}
			<div class="clearfix"></div>
            <p>{{agent.agent.description}}</p>
            <div>
              Avg. Rating {% partial 'agents/star' star=avgRating hide=hideRating %}
            </div>
            {% partial 'agents/rating' permission=ratingPermission%}
            <!-- Rating Form -->
            
            {% if  ratingPermission==0 %}
                {{ form_ajax('onChange', { class: 'rating', update: { 'agents/ratingResponse': '#rating'}})}}
                <fieldset class="rating">
                    <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
                    
                    <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
                    
                    <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
                    
                    <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
                    
                    <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
                    
                </fieldset>
                <br>
                <p style="margin-right: 75%;">Comments</p>
                <!-- <input type="text" name="comment"> -->
                <textarea name="comment" id="comment" cols="50" rows="1"></textarea>
                <button data-request="onSubmit"
                        data-request-update="'agents/ratingResponse' : '#rating'"
                        onclick="getRating()"
                >Submit</button>
                {{ form_close()}}
            {% endif %}
          </div>
        </div>
	  </div>
    </div>
  </div>
  
  <!-- Content -->
  <div class="container">
    <!-- Currency Calculator -->
       <div class="row sticky-wrapper col-xs-12 col-md-12">
      <div class="col-lg-12 col-md-12 col-xs-12">
        <div class="">
                  
        <div class="utf-desc-headline-item margin-top-0">
          <h3><i class="icon-material-outline-description"></i> Currency Calculator</h3>
      </div>
        <!-- Form goes here -->
        <div class="col-lg-12 col-md-12 col-xs-12">
        {{form_ajax('onSearch',{ class: 'currency', update: { 'currency/calc': '#calc'}}) }}
       
          <div class="col-lg-2 col-md-2 col-xs-12">
            <label style="text-align: center;" >Amount</label>
            <input type="number" name="amount" placeholder="Amount">
          </div>
          <div class="col-lg-2 col-md-2 col-xs-12">
            <label  style="text-align: center;">From</label>
            <select name="from">

            {% for key, value in calcurrency %}
            <option value="{{ key }}">{{ value }}</option>
              {% endfor %}
          </select></div>
          <div class="col-lg-2 col-md-2 col-xs-12">
            <label style="text-align: center;" >To</label>
            <select name="to">
              {% for  key, value in calcurrency %}
              <option value="{{ key }}">{{ value }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="col-lg-2 col-md-2 col-xs-12">
            <button class="button utf-search-btn-item"
            id="calcButton"
            type="submit" 
            data-request="onSearch"
            data-request-update="'currency/calc' : '#calc'"
            style="width: 100%; margin-left: 0% !important;"
            >Calculate</button>
          </div>
      
        {{ form_close()}}
          <div class="col-lg-4 col-md-4 col-xs-12">
            {% partial 'currency/calc'  calcresult=calcresult %}
          </div>

      </div>
        <!-- Partial here -->




        </div>
        </div>

    </div>
    <!-- Currency Rates -->
    <div class="row sticky-wrapper col-xs-12 col-md-12">
      <div class="col-lg-9 col-md-9 col-xs-12">
        <div class="">
          <div class="utf-desc-headline-item margin-top-0">
              <h3><i class="icon-material-outline-description"></i> My Currency Rates</h3>
          </div>
          <!-- Sorting -->
          {{form_ajax('onFilterSearch',{ class: 'form-items', update: { 'currency/currencytable': '#currency_list'}}) }}
            <div class="utf-sort-box-aera">
              <div class="sort-by">
                <label>From:</label>
                <div class="sort-by-select">
                  <select data-placeholder="Default Properties" onchange="getFilterList()" class="utf-chosen-select-single-item" name="currency_id">
                    <option>Select Base Currency</option>
                    {% for currency in baseCurrency %}
                    <option value="{{ currency.id}}">{{ currency.name}}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <!-- <div class="utf-layout-switcher"> 
                  <a href="#" class="list"><i class="sl sl-icon-list"></i></a> 
                  <a href="#" class="grid"><i class="sl sl-icon-grid"></i></a> 
              </div> -->
            </div>
          
          <!-- Listings -->
        </div>
        {{ form_close()}}
        {% partial 'currency/currencytable' %}
      </div>
      <!-- Video -->

        <div class="col-md-3 col-lg-3 col-xs-12">

          <div class="row">
            <i class="fas fa-ad" style="font-size: 45px;"></i>
            <div class="media-wrapper" id="video1">
              <div id="overlay">
                <div id="textSuccess">You earned {{ video.point }} points for the video</div>
                <div id="textFail">You already earned maximum points for the video</div>
              </div>
              <div class="media-player">
                 <video src="..{{ video.path | media}}" id="media-video"></video>
              </div>
              <div id='media-controls'>
                  <!-- <button id='play-pause-button' class='button play' title='play'
                  onclick='togglePlayPause();' >Play</button> -->
                  <div class="row">        
                      <div class="hideButton">
                      <button class="ad" id="playButton" onclick='togglePlayPause();'>
                        <i class="fas fa-play-circle"></i>
                      </button>
                      <button id='mute-button' class='mute' title='mute'
                      onclick='toggleMute();' value="false"><i class="fas fa-volume-mute"></i></button>
         
                      <div style="padding-top: 5px;">
                        <button type="submit" id="proceed" style="display: none;" onclick="addPoint()">Skip</button>
                      </div>

                  </div>
                  
                  </div>
                  
                  
               </div>
          </div>
          <input type="hidden" name="id" id="getId" value="{{ video.id}}" name="videoId">
          <input type="hidden" id="getpoint"  value="{{ video.point }}">
          <input type="hidden" id="gettime" value="{{ video.time }}">
          <input type="hidden" id="point" name="finalPoints">
            <!-- <span>
              <img src="https://via.placeholder.com/400x350?text=Video+Placeholder" alt="" width="100%">
            </span> -->
          </div>
        </div>
        <script src="{{'assets/js/mediaPlayer.js'|theme}}"></script>









            
          
          
    </div>	<!-- Listing Item -->

    <!-- Reviews -->
    <div class="row sticky-wrapper col-xs-12 col-md-12">
      <div class="col-lg-12 col-md-12 col-xs-12">
        <div class="">
          <div class="utf-desc-headline-item margin-top-0">
            <h3><i class="icon-material-outline-description"></i> Reviews</h3>
        </div>
                    <div class="col-lg-11 col-md-11 col-xs-12">

      
          <div class="containerCard" style="line-height: 20px !important;">
                <div class="row">
                  <ul  id="menu" style="list-style-type: none;margin-bottom: 0px;"> 
                    <li class="" id="1"><i class="fa fa-star {% if showRating.avg ==1 or showRating.avg > 1  %}checked{% endif %}"></i></li>
                    <li class="" id="2"><i class="fa fa-star {% if showRating.avg ==2 or showRating.avg > 2  %}checked{% endif %}"></i></li>
                    <li class="" id="3"><i class="fa fa-star {% if showRating.avg ==3 or showRating.avg > 3  %}checked{% endif %}"></i></li>
                    <li class="" id="4"><i class="fa fa-star {% if showRating.avg ==4 or showRating.avg > 4  %}checked{% endif %}"></i></li>
                    <li class="" id="5"><i class="fa fa-star {% if showRating.avg ==5 or showRating.avg > 5  %}checked{% endif %}"></i></li>
              
                    <span style="display: inline;font-size: 18px">
                      {{ showRating.avg }} out of 5
                    </span>
                  </ul>
                  <span style="font-size: 12px;margin-left:10px ;margin-top: 0px;">
                    {{ showRating.count }} customer ratings
                  </span>
                </div>
                <div class="col-lg-10 col-md-10 col-xs-12">
                  <!-- 5 -->
                  <div class="row">
                    <div class="col-lg-1 col-md-1 col-xs-3" style="padding: 0px 0px;">
                      <p>5 star</p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-xs-6" >
                 
                      <div class="progress"  style="margin-top: 5px;">
                        <div class="progress-bar" role="progressbar" style="width:  {{ showRating.five }}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-xs-3">
                      <p>{{ showRating.five }}%</p>
                      </div>
                      
                  </div>
                  <!-- 4 -->
                  <div class="row">
                    <div class="col-lg-1 col-md-1 col-xs-3" style="padding: 0px 0px;">
                      <p>4 star</p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-xs-6" >
                 
                      <div class="progress"  style="margin-top: 5px;">
                        <div class="progress-bar" role="progressbar" style="width:  {{ showRating.four }}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-xs-3">
                      <p>{{ showRating.four }}%</p>
                      </div>

                  </div>
                  <!-- 3 -->
                  <div class="row">
                    <div class="col-lg-1 col-md-1 col-xs-3" style="padding: 0px 0px;">
                      <p>3 star</p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-xs-6" >
                 
                      <div class="progress"  style="margin-top: 5px;">
                        <div class="progress-bar" role="progressbar" style="width:  {{ showRating.three }}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-xs-3">
                      <p>{{ showRating.three }}%</p>
                      </div>

                  </div>
                  <!-- 2 -->
                  <div class="row">
                    <div class="col-lg-1 col-md-1 col-xs-3" style="padding: 0px 0px;">
                      <p>2 star</p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-xs-6" >
                 
                      <div class="progress"  style="margin-top: 5px;">
                        <div class="progress-bar" role="progressbar" style="width:  {{ showRating.two }}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-xs-3">
                      <p>{{ showRating.two }}%</p>
                      </div>

                  </div>
                  <!-- 1 -->
                  <div class="row">
                    <div class="col-lg-1 col-md-1 col-xs-3" style="padding: 0px 0px;">
                      <p>1 star</p>
                    </div>
                    <div class="col-lg-3 col-md-3 col-xs-6" >
                 
                      <div class="progress"  style="margin-top: 5px;">
                        <div class="progress-bar" role="progressbar" style="width:  {{ showRating.one }}%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-xs-3">
                      <p>{{ showRating.one }}%</p>
                      </div>

                  </div>
                </div>

              </div>

  
      </div>
        </div>
      </div>


    </div>
    <!-- Reviews End -->
  </div>


    
		
</div>
<script>
  function getFilterList(){
    setTimeout(function(){
      $('.form-items').request('onFilterSearch')
    }),1000;
  }
  
  function getRating(){

    setTimeout(function(){
                    location = ''
                  },300)
    


  }
</script>

