title = "Reset password"
url = "/resetpassword"
layout = "user"

==

<?php

use Custom\User\Controllers\Users;
use Custom\User\Models\User;
use Session;
use Flash;

public function OnStart()
{

  $this['id'] = $_GET['id'];
  $this['token'] = $_GET['token'];
  $this['user'] = User::find($_GET['id']);
  $this['status'] = Users::checkUserByToken($this['user']->id,$_GET['token']);


}

function onChangePassword()
{


  $status = Users::changepassword($_POST);
  if($status)
  {
    return Redirect::to('userlogin');
  }
  else
  {
    return Redirect::back();
  }
}


?>

==


<div class="container-fluid imagewidth spaceweight">
    <div class="row">
      <div class="col-12 col-md-6">
       <img  class="imagesize" src="{{'assets/img/weslportal.png' |theme }}">
      </div>
      {% partial 'Flash/flashmessage' %}
      <div class="col colform">
          <div class="row">
            <div class="col-12 col-md-10 panelcenter">
              <div class="my-account">
                <div class="tabs-container"> 
                  <!-- Login -->
              <div class="utf-welcome-text-item">
            <form data-request="onChangePassword" >    
              <h3>Change your Password</h3>
            </div>
            <input type="hidden" class="input-text" name="id" id="email" placeholder="Password" value="{{id}}"/>
            <input type="hidden" class="input-text" name="reset_token" id="email" placeholder="Password" value="{{token}}"/>
                      <div class="form-row form-row-wide">
                        <input type="password" class="input-text" name="password" id="email" placeholder="Password" value=""/>
                      </div>
                      <div class="form-row form-row-wide">
                        <input type="password" class="input-text" name="confirm_password" id="email" placeholder="confirm Password" value=""/>
                      </div>
                     
                      <div class="form-row">
                        <div class="checkbox margin-top-10 margin-bottom-10">
                <input type="checkbox" id="two-step">
                
                </div>
                <!-- <a class="lost_password" href="forgot_password.html">Forgot Password?</a>	 -->
                      </div>
              <input type="submit" class="button full-width border margin-top-10"  value="Change the Password" />

            </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>