title = "Service"
url = "/serviceview/:id?"
layout = "default2"
filter_id = {{:id}}

==
<?php
    use Custom\loyaltyservices\Models\Service;
    use Custom\loyaltyservices\Controllers\Services;
    
    public function onStart(){
        $id = $this->param('id');
        $this['service'] = Service::find($id);
    }
?>
==
 <!-- Titlebar -->
<div class="parallax titlebar" data-background="images/listings-parallax.jpg" data-color="rgba(48, 48, 48, 1)" data-color-opacity="0.8" data-img-width="800" data-img-height="505">
    <div id="titlebar">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2>{{ service.service_name}}</h2>
            <!-- Breadcrumbs -->
            <nav id="breadcrumbs">
              <ul>
                <li><a href="../home">Home</a></li>
                 <li><a href="../services">Services</a></li>
                <li>{{ service.service_name}}</li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
</div>


  <!-- Content -->
  <div class="container" id="Content">
    <div class="row">
      <div class="col-md-12"> 
        <!-- Service -->
        <div class="agent agents-profile agency margin-bottom-40">
              <span class="utf-agent-avatar">
                <img src="{{service.service_image.path}}" alt="">
                </span>
          <div class="utf-agent-content">
            <div class="utf-agent-name">
              <h4><a href="">{{ service.service_name }} </a></h4>
			  <span> {{ service.address}} </span>
            <ul class="utf-agent-contact-details">
				      <li><i class="icon-feather-smartphone"></i>{{ service.contactno}}</li>
				      <li><i class="icon-material-outline-email"></i><a href="#">{{ service.email}}</a></li>
			      </ul> 

      </div>
      

			<div class="clearfix"></div>
                <span>
                    {{ service.service_descripiton }}
                </span>
                <br>
                <span>
                    {{ service.openhours }}
                </span>
          </div>
        </div>
	  </div>
    </div>
  </div>
  