title = "survey"
url = "/survey"
layout = "default2"


==

<?php

use Custom\Survey\Models\Survey;
use Custom\Survey\Controllers\Surveys;

public function onStart()
{

  $this['survey'] = Survey::all();


}

?>

==

<div class="clearfix"></div>
<!-- Header Container / End --> 

<!-- Titlebar -->
<div class="parallax titlebar" data-background="images/listings-parallax.jpg" data-color="rgba(48, 48, 48, 1)" data-color-opacity="0.8" data-img-width="800" data-img-height="505">
  <div id="titlebar">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Survey</h2>
          <!-- Breadcrumbs -->
          <nav id="breadcrumbs">
            <ul>
              <li><a href="index.html">Home</a></li>
              <li>Agents Listings</li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Content -->
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="row"> 
        <div class="utf-agents-container-area"> 
          <!-- Agent -->
        
          <!-- Agent / End --> 
          
          <!-- Agent -->
          {% for survey in survey %}
          <div class="grid-item col-lg-3 col-md-4 col-sm-6 col-xs-12">
            <div class="agent">
              <div class="utf-agent-avatar"> <a href="surveyview/{{survey.id}}">  <span class="view-profile-btn">View Profile</span> </a> </div>
              <div class="utf-agent-content">
                <div class="utf-agent-name">
                  <h4><a href="surveyview/{{survey.id}}">{{survey.title_name}}</a></h4>
            
                </div>                  
              </div>
            </div>
          </div>
          {% endfor %}
          <!-- Agent / End --> 
          
      
          <!-- Agent / End -->  	
        </div>
        <!-- Agents Container / End -->           
      </div>
    </div>
    <div class="col-md-12">
      <div class="clearfix"></div>
      <!-- Pagination -->
      <!-- <div class="utf-pagination-container margin-top-20">
        <nav class="pagination">
          <ul>
            <li><a href="#"><i class="fa fa-angle-left"></i></a></li>
            <li><a href="#" class="current-page">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li class="blank">...</li>
            <li><a href="#">10</a></li>
            <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
          </ul>
        </nav>          
      </div> -->
      <!-- Pagination / End --> 
    </div>
  </div>
</div>



