title = "User Dashboard"
url = "/dashboard"
layout = "default2"

==

<?php

use Custom\User\Controllers\Users;
use Custom\User\Models\User;
use Session;

function onStart()
{
  $id = Session::get('user_id');
  $this['user'] = User::find($id);
  
}



?>

==



<!-- Content -->
<div class="container">
    <div class="row"> 
      <!-- Widget -->
      <div class="col-md-3">
	    <div class="margin-bottom-20"> 
			<!-- <div class="utf-edit-profile-photo-area"> <img src="images/agent-02.jpg" alt="">
			   <div class="utf-change-photo-btn-item">
				<div class="utf-user-photo-upload"> <span><i class="fa fa-upload"></i> Upload Photo</span>
				  <input type="file" class="upload tooltip top" title="Upload Photo" />
				</div>
			  </div> -->
			<!-- </div>  -->
	    </div>
		<div class="clearfix"></div>
        <div class="sidebar margin-top-20">
          <div class="user-smt-account-menu-container">
            <ul class="user-account-nav-menu">
                <li><a href="{{'userdashboard'|page}}"><i class="sl sl-icon-user"></i> My Dashboard</a></li>
                <li><a href="{{'userprofile'|page}}"><i class="sl sl-icon-user"></i> My Profile</a></li>
                <li><a href="{{'passwordchange'|page}}"><i class="sl sl-icon-user"></i> Change Password</a></li> 
                <li><a data-request="onLogOut"><i class="sl sl-icon-power"></i> Log Out</a></li>
            </ul>
          </div>
        </div>
	    
      </div>
      <div class="col-md-9 userpanel">
        <div class="container">
            <h3>My Points</h3>
            <h5> {{ user.point}}</h5>
            
        </div>
        <div class="container">
          <h3> Username </h3><p>{{user.login}}</p>
          
          
      </div>
       
      </div>
    </div>
  </div>
