title = "User Profile"
url = "/userprofile"
layout = "default2"

==

<?php

use Custom\User\Controllers\Users;
use Custom\User\Models\User;  
use Custom\Agents\Models\Country;
use Custom\Currency\Models\Currency;

 public function onStart()
 {
   $id = Session::get('user_id');
   $this['user'] = User::find($id);
   $this['currency'] = Currency::all();
   $this['country'] = Country::all();


 }

 public function onSaveProfile()
 {
   $this['user'] = Users::updateProfile($_POST);
 }



?>

==

<style>
  input:disabled {
    background: #dddddd;
  }
</style>

<div class="clearfix"></div>
<!-- Header Container / End --> 

<!-- Titlebar -->


<!-- Content -->
<div class="container">
  <div class="row"> 
    <!-- Widget -->
    <div class="col-md-3">
      <div class="margin-bottom-20 "> 
          <!-- <div class="utf-edit-profile-photo-area"> <img src="#" alt=""> -->
            <!-- <div class="utf-change-photo-btn-item">
              <div class="utf-user-photo-upload"> <span><i class="fa fa-upload"></i> Upload Photo</span>
                <input type="file" class="upload tooltip top" title="Upload Photo" />
              </div>
            </div> -->
          <!-- </div> -->
      </div>
      <div class="clearfix"></div>
      <div class="sidebar margin-top-20">
        <div class="user-smt-account-menu-container">
          <ul class="user-account-nav-menu">
            <li><a href="{{'userdashboard'|page}}"><i class="sl sl-icon-user"></i> My Dashboard</a></li>
            <li><a href="{{'userprofile'|page}}"><i class="sl sl-icon-user"></i> My Profile</a></li>
            <li><a href="{{'passwordchange'|page}}"><i class="sl sl-icon-user"></i> Change Password</a></li>
           
              <li><a data-request="onLogOut"><i class="sl sl-icon-power"></i>Log Out</a></li>
        
            
          </ul>            
        </div>
      </div>
      <div class="widget utf-sidebar-widget-item">

      </div>
    </div>
    <div class="col-md-9">
        <div class="utf-user-profile-item userpanel">
          <div class="utf-submit-page-inner-box">
              <h3>My Profile</h3>
              <form data-request="onSaveProfile">
              
               <div class="content with-padding">
                  <div class="col-md-6" >
                      <label>Your Name</label>
                      <input name="login" value="{{user.login}}" type="text" disabled>
                  </div> 
                  <div class="col-md-6">	
                      <label>Email Address</label>
                     <input name="email" value="{{user.email}}" type="Email">
                  </div>
                  <div class="col-md-6">	
                     <label>DOB</label>
                     <input name="birth" value="{{user.birth}}" type="date">
                  </div>
                  
                  <div class="col-md-6">
                    <label>Contact Number</label>
                    <input name="contactno" value="{{user.contactno}}" type="text">
                  </div>
                  
                  <div class="col-md-6">
                    <label>Country</label>
                    <select name="country" value="{{user.country}}" type="text" >
                      <option>ITALY</option>
                      {% for country in country %}
                        <option value="{{country.name}}">{{country.name}}</option>
                      {% endfor %}   
                      
                      
                    </select>
                  </div>
                  
                
                  
                 
             
                
              </div>
              
             <div class="row">
                <div class="col-md-12">
                    <button class="utf-centered-button button margin-top-0 margin-bottom-20">Save Changes</button>
                </div>
             </div>
              
              
              </form>
             		
          </div>
          <!-- <div class="utf-submit-page-inner-box">
              <h3>Social Accounts</h3>
              <div class="content with-padding">
                  <div class="col-md-6">
                      <label><i class="icon-brand-facebook"></i> Facebook</label>
                      <input value="" type="text">
                  </div>
                  <div class="col-md-6">
                      <label><i class="icon-brand-twitter"></i> Twitter</label>
                      <input value="" type="text">
                  </div>
                  <div class="col-md-6">
                      <label><i class="icon-brand-linkedin"></i> Linkedin</label>
                      <input value="" type="text">
                  </div>
                  <div class="col-md-6">
                      <label><i class="icon-brand-google-plus-g"></i> Google+</label>
                      <input value="" type="text">	
                  </div>
                  <div class="col-md-6">
                      <label><i class="icon-brand-pinterest"></i> Pinterest</label>
                      <input value="" type="text">	
                  </div>
                  <div class="col-md-6">
                      <label><i class="icon-feather-instagram"></i> Instagram</label>
                      <input value="" type="text">	
                  </div>
              </div>					
          </div>	 -->
         
        </div>          
    </div>
  </div>
</div>

