title = "User Login"
url = "/userlogin"
layout = "user"

==

<?php

use Custom\User\Controllers\Users;
use Custom\User\Models\User;
use Session;
use Flash;

function onLogin(){
  $user = Users::addUserToSession($_POST);
  
  if($user)
  {
    $this['logged'] = Session::get('user_id');
    return Redirect::to($this->pageUrl('userdashboard'));
  }
  else
  {
    Flash::warning('Please Enter the Correct Login name or Password');
    return [
      '#flash_message' => $this->renderPartial('Flash/flashmessage')
    ];
  }
}




?>


==

<div class="container-fluid imagewidth spaceweight">
      <div class="row">
        <div class="col-12 col-md-6">
         <img  class="imagesize" src="{{'assets/img/weslportal.png' |theme }}">
        </div>
        {% partial 'Flash/flashmessage' %}
        <div class="col colform">
            <div class="row">
              <div class="col-12 col-md-10 panelcenter">
                <div class="my-account">
                  <div class="tabs-container"> 
                    <!-- Login -->
                <div class="utf-welcome-text-item">
              <form data-request="onLogin" >    
                <h3>Welcome Back Sign in to Continue</h3>
                <span>Don't Have an Account? <a href="{{'userregister' | page}}">Sign Up!</a></span> 
                </div>

                        <div class="form-row form-row-wide">
                          <input type="text" class="input-text" name="email" id="email" placeholder="Email Address" value="" />
                        </div>
                        <div class="form-row form-row-wide">
                          <input class="input-text" type="password" name="password" placeholder="Password" id="password"/>
                        </div>
                        <div class="form-row">
                          <div class="checkbox margin-top-10 margin-bottom-10">
                  <input type="checkbox" id="two-step">
                  <label for="two-step"><span class="checkbox-icon"></span> Remember Me</label>
                  <a class="lost_password" href="{{'forgetpassword' | page}}">Forgot Password?</a>	
                  </div>

               
                        </div>
                <input type="submit" class="button full-width border margin-top-10" name="login" value="Login" />

              </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>