title = "User Register"
url = "/uregister"
layout = "user"

==

<?php

use Custom\User\Controllers\Users;
use Custom\User\Models\User;



public function onStart()
{

	//$this['currency'] = Currency::all();
	//$this['country'] = Country::all();
	

}


function onRegister()
{

  $result = Users::saveUser($_POST);
  if($result){

    Flash::success('Please Check Your Email');
    return Redirect::to('userlogin');
  }else{

    Flash::error('Error with form submit');
    return Redirect::to('uregister');
  }


}


?>


==
<div class="container-fluid imagewidth spaceweight">
  <div class="row">
    <div class="col-12 col-md-6">
     <img  class="imagesize" src="{{'assets/img/weslportal.png' |theme }}">
    </div>
    <div class="col colform">
        <div class="row">
          <div class="col-12 col-md-10 panelcenter">
            <div class="my-account">
              <div class="tabs-container"> 
                <!-- Login -->
            <div class="utf-welcome-text-item">
              {{ form_open({  request: 'onRegister' }) }}
             
            <h3>Welcome Back Sign in to Continue</h3>
            <span> Have an Account? <a href="{{'userlogin' | page}}">Sign In!</a></span> 
            </div>
                  <div class="form-row form-row-wide">
                    <input type="email" class="input-text" name="email" id="email" placeholder="Email Address" value="" id ="validationDefault01" />
                  </div>
                  <div class="form-row form-row-wide">
                    <input type="text" class="input-text" name="login" id="email" placeholder="Login" value="" />
                  </div>
                  <div class="form-row form-row-wide">
                    <input type="number" class="input-text" name="birth" id="birth" placeholder="Date of Birth" value="" />
                  </div>
                  <div class="form-row form-row-wide">
                    <input type="number" class="input-text" name="contactno" id="contact" placeholder="Contact No" value="" />
                  </div>
                  <div class="form-row form-row-wide">
                    <input type="password" class="input-text" name="password" id="password" placeholder="password" value="" />
                  </div>
                  <div class="form-row form-row-wide">
                    <input type="password" class="input-text" name="password" id="password" placeholder="Confirm Password" value="" />
                  </div>
                
               
                  <div class="form-row">
                      <div class="checkbox margin-top-10 margin-bottom-10">
              <!-- <input type="checkbox" id="two-step">
              <label for="two-step"><span class="checkbox-icon"></span> Remember Me</label> -->
              </div>
              <!-- <a class="lost_password" href="forgot_password.html">Forgot Password?</a>	 -->
                    </div>
            <input type="submit" class="button full-width border margin-top-10"  value="Create Account" />

        {{ form_close()}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>