title = "Videos"
url = "/video"
layout = "default2"

==
<?php
use Custom\Video\Controllers\Videos;
use Custom\Video\Controllers\VideoCategories;

public function onStart(){
    $this['categories'] = VideoCategories::getCategory();
    $this['videos'] = Videos::getAllVideos();
}

function onFilterSearch(){
  $videos = Videos::getVideoByCategory($_POST['category_id']);
  if($videos){
    $this['videos'] = $videos;
  }else{
    $this['videos'] = Videos::getAllVideos();
  }
}
?>
==
<div class="parallax titlebar" data-background="images/listings-parallax.jpg" data-color="rgba(48, 48, 48, 1)" data-color-opacity="0.8" data-img-width="800" data-img-height="505">
    <div id="titlebar">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h2>Videos</h2>
            <!-- Breadcrumbs -->
            <nav id="breadcrumbs">
              <ul>
                <li><a href="./home">Home</a></li>
                <li>Videos</li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
</div>
<div class="container">
   <div class="col-lg-12 col-md-12 col-xs-12">
     <!-- sidebar -->
     <div class="col-lg-2 col-md-2 col-xs-12">
      {{form_ajax('onFilterSearch',{ class: 'category', update: { 'video/videos': '#video'}}) }}
        <div class="row with-forms"> 
          <div class="row with-forms"> 
            <div class="col-md-12">
              <label for="category_id">Category</label>
              <select  name="category_id"  onchange="getFilterList()" class="chosen-select">
                <option>Category</option>
                {% for key, value in categories %}
                <option value="{{key}}">{{value}}</option>
                {% endfor %}
                                                
              </select>
            </div>
          </div>
                
        </div>
      {{form_close()}}
     </div>
     <!-- Video Tiles -->
     <div class="col-lg-10 col-md-10 col-xs-12">
      {% partial 'video/videos' %}
     </div>
   </div>
</div>

<script>

  function getFilterList(){
    setTimeout(function(){
        $('.category').request('onFilterSearch')
    }),1000;
  }
</script>
